<link href="~/css/beneficio.css" rel="stylesheet" />
<script src="~/js/beneficio.js"></script>
<main>
    <div class="hero">
        <div class="container" id="bannerBeneficio">
            <div class="title">Beneficios</div>
            <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magn</p>
        </div>
    </div>

    <div>
        <div class="container py-5 px-4 px-md-0">
            <div class="d-flex mb-5 flex-wrap justify-content-center" id="sliderBeneficio">
             
            </div>
        </div>

        <div class="my-5">
            <h2 class="text-center title_init mb-5">¿Te gustaria acceder a nuevos conocimientos? <br><strong>Inicia Ahora</strong></h2>
            <div class="d-flex justify-content-center align-items-center gap-3">
                <a href="" class="btn button-outline m-0 Button-Test">
                    Ver cursos
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#0070BA" class="bi bi-calendar4-week" viewBox="0 0 16 16">
                        <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5M2 2a1 1 0 0 0-1 1v1h14V3a1 1 0 0 0-1-1zm13 3H1v9a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1z" />
                        <path d="M11 7.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5zm-3 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5zm-2 3a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5zm-3 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5z" />
                    </svg>
                </a>
                <div class="button-test m-0">
                    <a href="">Empezar mi test</a>
                    <img src="../../shared/assets/home/etapas/empezar_test.svg"
                         alt="" />
                </div>
            </div>
        </div>
    </div>
</main>
