<script type="module" src="~/js/modules/test/create.js" defer></script>

<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col-12 mb-4 d-flex align-items-center justify-content-between">
            <div class="d-flex align-items-center gap-3">
                <h2 class="title d-none d-md-block">Crear Test</h2>
                <h2 class="title d-block d-md-none">Nuevo Test</h2>
            </div>
        </div>

        <!-- Select para elegir el tipo de Test -->

        <div class="col-md-6">
            <label for="selectTest" class="form-label">Selecciona el tipo de Test</label>
            <select id="selectTest" class="form-select">
                <option value="" selected disabled>Selecciona un tipo de Test</option>
                <option value="A">Test Tipo A</option>
                <option value="B">Test Tipo B</option>
                <option value="C">Test Tipo C</option>
            </select>
        </div>

        <!-- Contenedor donde se insertará el select de portada -->
        <div class="col-md-6" id="selectPortadaContainer"></div>

        <!-- Contenedor donde se insertará la portada -->
        <div id="portadaContainer"></div>


     

        <div id="preguntaContainer" class="mt-5"></div>

    </div>
</div>
