<link href="~/css/contacto.css" rel="stylesheet" />
<script src="~/js/contacto.js"></script>
<div class="content overflow-x-scroll">
    <div class="container">
        <div class="row">

            <div class="col-12 mb-4 px-2 px-lg-0 d-flex align-items-center justify-content-between ">
                <div class="d-flex align-items-center gap-3">
                    <h2 class="title d-none d-md-block">Gestionar Contacto</h2>
                    <h2 class="title d-block d-md-none"> Contacto </h2>

                </div>

            </div>

            <div id="tituloContainer">

            </div>
            <div class="col-12 text-end">
                <input type="text" id="nombreTabla" value="Contacto" hidden />
                <div class="d-inline-flex gap-2">                   
                    <button class="btn btn-save" id="btnDescargar">Descargar Datos</button>
                </div>
            </div>
        </div>


    </div>


    <div class="modal fade" id="editSliderModal" tabindex="-1" aria-labelledby="editTitle" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editSliderModalLabel">Editar Contacto</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="alert alert-primary message-input" role="alert">
                        Los campos que tienen (*) aceptan hasta 250 caracteres y son obligatorios.
                    </div>
                    <form id="editSliderForm">
                        <div class="mb-3" hidden>
                            <label for="editIdContacto" class="form-label">Id</label>
                            <input type="text" class="form-control" id="editIdContacto" placeholder="Id" required>
                        </div>
                        <div class="mb-3">
                            <label for="editCorreo" class="form-label fw-semibold">Correo
                                Electronico*</label>
                            <input type="text" id="editCorreo" class="form-control" required>
                        </div>

                        <div class="mb-3">
                            <label for="editDescripccion" class="form-label fw-semibold">Descripción</label>
                            <textarea id="editDescripccion" class="form-control" rows="3" maxlength="250" required></textarea>
                        </div>

                        <div class="mb-3">
                            <label for="editDireccion" class="form-label fw-semibold">Dirección</label>
                            <input type="text" id="editDireccion" class="form-control" required>
                        </div>

                        <div class="mb-3">
                            <label for="editHorario" class="form-label fw-semibold">Horario</label>
                            <input type="text" id="editHorario" class="form-control" required>
                        </div>
                        <div class="mb-3">
                            <label for="editNombreBoton" class="form-label fw-semibold">Nombre
                                del botón</label>
                            <input type="text" id="editNombreBoton" class="form-control" required>
                        </div>

                        <div class="mb-3">
                            <label for="editTituloIzquierda" class="form-label fw-semibold">Titulo
                                Izquierda</label>
                            <input type="text" id="editTituloIzquierda" class="form-control" required>
                        </div>


                        <div class="mb-3">
                            <label for="editTituloDerecha" class="form-label fw-semibold">Titulo
                                Derecha</label>
                            <input type="text" id="editTituloDerecha" class="form-control" required>
                        </div>

                        <div class="mb-3">
                            <label for="editTelefono" class="form-label fw-semibold">Telefono</label>
                            <input type="text" id="editTelefono" class="form-control" required>
                        </div>

                        <div class="mb-3">
                            <label for="editTituloPrincipal" class="form-label fw-semibold">Titulo
                                Principal</label>
                            <input type="text" id="editTituloPrincipal" class="form-control" required>
                        </div>

                        <hr />

                        <h5 class=" mb-3">Contáctanos Seccion </h5>


                        <div class="mb-3">
                            <label for="editDescripccionBanner" class="form-label fw-semibold">Descripcion
                                Banner</label>

                            <textarea id="editDescripccionBanner" class="form-control" rows="3" maxlength="250" required></textarea>
                        </div>

                        <div class="mb-3">
                            <label for="editNombreBotonDos" class="form-label fw-semibold">Nombre
                                Boton</label>
                            <input type="text" id="editNombreBotonDos" class="form-control" required>
                        </div>

                        <div class="mb-3">
                            <label for="editTituloSeccion" class="form-label fw-semibold">Titulo</label>
                            <input type="text" id="editTituloSeccion" class="form-control" required>
                        </div>

                        <div class="mb-3">
                            <label for="editUrlImagen" class="form-label fw-semibold">URL
                                Imagen</label>
                            <input type="text" id="editUrlImagen" class="form-control" required>
                        </div>

                        <div class="mb-3">
                            <label for="editPoliticas" class="form-label fw-semibold">URL
                                politicas</label>
                            <input type="text" id="editPoliticas" class="form-control" required>
                        </div>



                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-close-modal
                btn-close-modal" data-bs-dismiss="modal">
                        Cerrar
                    </button>
                    <button type="button" class="btn btn-save" id="saveEditTitulo">Guardar Cambios</button>
                </div>
            </div>
        </div>
    </div>
