 <!-- copiar esto -->
<div class="content overflow-x-scroll">
    <div class="container">
        <div class="row">
            <div class="breadcrumb px-1 px-md-0 col-12 d-flex align-items-center ">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" class="mx-1" fill="currentColor"
                     class="bi bi-house-door-fill" viewBox="0 0 16 16">
                    <path d="M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5" />
                </svg>
                <a href="#!">
                    <span class="first-bread"> Mi Home</span>
                </a>
                <div class="px-2">
                    >
                </div>
                <div>
                    <a href="#!">
                        <span class="second-bread">Contacto</span>
                    </a>
                </div>
            </div>
            <div class="col-12 mb-4 px-2 px-lg-0 d-flex align-items-center justify-content-between ">
                <div class="d-flex align-items-center gap-3">
                    <h2 class="title d-none d-md-block">Edición de Contacto Home</h2>
                    <h2 class="title d-block d-md-none"> Contacto Home</h2>

                </div>
                <div>
                </div>
            </div>

            <div class="row ">
                <div class="col-md-6 my-3 ">
                    <div class="d-flex justify-content-between">
                        <label for="image-url-1" class="form-label fw-semibold">Título general</label>
                        <a href="#!" class="icon-link" data-bs-toggle="modal" data-bs-target="#editGeneral">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                 class="bi bi-pencil-fill" viewBox="0 0 16 16">
                                <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.5.5 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11z" />
                            </svg>
                        </a>
                    </div>
                    <input type="text" id="image-url-1" class="form-control" placeholder="Título general" disabled>
                </div>

                <div class="col-md-6 my-3 ">
                    <div class="d-flex justify-content-between">
                        <label for="image-url-1" class="form-label fw-semibold">URL de la imagen</label>
                        <a href="#!" class="icon-link" data-bs-toggle="modal" data-bs-target="#editGeneral">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                 class="bi bi-pencil-fill" viewBox="0 0 16 16">
                                <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.5.5 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11z" />
                            </svg>
                        </a>
                    </div>
                    <input type="text" id="image-url-1" class="form-control" placeholder="URL de la imagen" disabled>
                </div>

            </div>

            <div class="row ">
                <div class="col-md-6 my-3 ">
                    <div class="d-flex justify-content-between">
                        <label for="image-url-1" class="form-label fw-semibold">Título Home</label>
                        <a href="#!" class="icon-link" data-bs-toggle="modal" data-bs-target="#editGeneral">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                 class="bi bi-pencil-fill" viewBox="0 0 16 16">
                                <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.5.5 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11z" />
                            </svg>
                        </a>
                    </div>

                    <input type="text" id="image-url-1" class="form-control" placeholder="Título Home" disabled>


                </div>
                <div class="col-md-6 my-3 ">
                    <div class="d-flex justify-content-between">
                        <label for="image-url-1" class="form-label fw-semibold">Horario</label>
                        <a href="#!" class="icon-link" data-bs-toggle="modal" data-bs-target="#editGeneral">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                 class="bi bi-pencil-fill" viewBox="0 0 16 16">
                                <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.5.5 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11z" />
                            </svg>
                        </a>
                    </div>
                    <input type="text" id="image-url-1" class="form-control" placeholder="Horario" disabled>

                </div>
            </div>

            <div class="row ">
                <div class="col-md-6 my-3 ">
                    <div class="d-flex justify-content-between">
                        <label for="image-url-1" class="form-label fw-semibold">Correo</label>
                        <a href="#!" class="icon-link" data-bs-toggle="modal" data-bs-target="#editGeneral">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                 class="bi bi-pencil-fill" viewBox="0 0 16 16">
                                <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.5.5 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11z" />
                            </svg>
                        </a>
                    </div>

                    <input type="text" id="image-url-1" class="form-control" placeholder="Correo" disabled>


                </div>
                <div class="col-md-6 my-3 ">
                    <div class="d-flex justify-content-between">
                        <label for="image-url-1" class="form-label fw-semibold">URL de la imagen</label>
                        <a href="#!" class="icon-link" data-bs-toggle="modal" data-bs-target="#editGeneral">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                 class="bi bi-pencil-fill" viewBox="0 0 16 16">
                                <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.5.5 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11z" />
                            </svg>
                        </a>
                    </div>
                    <input type="text" id="image-url-1" class="form-control" placeholder="URL de la imagen" disabled>

                </div>
            </div>

            <div class="row ">
                <div class="col-md-6 my-3 ">
                    <div class="d-flex justify-content-between">
                        <label for="image-url-1" class="form-label fw-semibold">Teléfono</label>
                        <a href="#!" class="icon-link" data-bs-toggle="modal" data-bs-target="#editGeneral">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                 class="bi bi-pencil-fill" viewBox="0 0 16 16">
                                <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.5.5 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11z" />
                            </svg>
                        </a>
                    </div>

                    <input type="number" id="image-url-1" class="form-control" placeholder="Teléfono" disabled>
                </div>

                <div class="col-md-6 my-3 ">
                    <div class="d-flex justify-content-between">
                        <label for="image-url-1" class="form-label fw-semibold">Nombre del botón</label>
                        <a href="#!" class="icon-link" data-bs-toggle="modal" data-bs-target="#editGeneral">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                 class="bi bi-pencil-fill" viewBox="0 0 16 16">
                                <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.5.5 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11z" />
                            </svg>
                        </a>
                    </div>
                    <input type="text" id="image-url-1" class="form-control custom-button" placeholder="Nombre del botón"
                           disabled>

                </div>
            </div>
        </div>

        <div class="row cards-container px-2 px-md-0 ">
            <div class="card col-12 col-md-12 shadow border-0 p-4 mb-3">
                <div class="d-flex justify-content-between align-items-start mb-3">
                    <h5 class=" mb-0">Contáctanos Vista</h5>
                    <div class="d-flex gap-2">

                        <button class="btn btn-link text-primary p-0" data-bs-toggle="modal"
                                data-bs-target="#editContactoVista">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                 class="bi bi-pencil-fill" viewBox="0 0 16 16">
                                <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.5.5 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11z" />
                            </svg>
                        </button>


                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label for="image-url-1" class="form-label fw-semibold">Título</label>
                            <input type="text" id="image-url-1" class="form-control" placeholder="Título  " disabled>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label for="description-1" class="form-label fw-semibold">Nombres</label>
                            <input type="text" id="image-url-1" class="form-control" placeholder="Nombres" disabled>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label for="image-url-1" class="form-label fw-semibold">Apellidos</label>
                            <input type="text" id="image-url-1" class="form-control" placeholder="Apellidos" disabled>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label for="description-1" class="form-label fw-semibold">Correo electrónico</label>
                            <input type="text" id="image-url-1" class="form-control" placeholder="Correo electrónico" disabled>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label for="image-url-1" class="form-label fw-semibold">Celular</label>
                            <input type="text" id="image-url-1" class="form-control" placeholder="Celular" disabled>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label for="description-1" class="form-label fw-semibold">RUC</label>
                            <input type="text" id="image-url-1" class="form-control" placeholder="RUC" disabled>

                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label for="image-url-1" class="form-label fw-semibold">Tipo de empresa</label>
                            <select class="form-select" aria-label="Default select example" disabled>
                                <option selected>Tipo de empresa</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label for="description-1" class="form-label fw-semibold">Región</label>
                            <select class="form-select" aria-label="Default select example" disabled>
                                <option selected>Región</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label for="image-url-1" class="form-label fw-semibold">Dejanos su mensaje</label>
                            <textarea id="description-1" class="form-control" rows="3" placeholder="Dejanos su mensaje"
                                      disabled></textarea>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label for="description-1" class="form-label fw-semibold">Celular</label>
                            <input type="text" id="image-url-1" class="form-control mb-2" placeholder="Escriba su consulta"
                                   disabled>
                            <input type="text" id="image-url-1" class="form-control"
                                   placeholder="Al darle clic en “enviar mensaje ” acepto la política de protección de datos personales"
                                   disabled>

                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label for="image-url-1" class="form-label fw-semibold">Nombre del botón</label>
                            <input type="text" id="image-url-1" class="form-control custom-button"
                                   placeholder="Nombre del botón" disabled>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label for="description-1" class="form-label fw-semibold">URL del botón</label>
                            <input type="text" id="image-url-1" class="form-control" placeholder="URL del botón" disabled>

                        </div>
                    </div>
                </div>


            </div>


            <div class="card col-12 col-md-12 shadow border-0 p-4 mb-3">
                <div class="d-flex justify-content-between align-items-start mb-3">
                    <h5 class=" mb-0">Contáctanos configuración</h5>
                    <div class="d-flex gap-2">

                        <button class="btn btn-link text-primary p-0" data-bs-toggle="modal"
                                data-bs-target="#editContactConfig">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                 class="bi bi-pencil-fill" viewBox="0 0 16 16">
                                <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.5.5 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11z" />
                            </svg>
                        </button>


                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label for="image-url-1" class="form-label fw-semibold">Título Banner</label>
                            <input type="text" id="image-url-1" class="form-control" placeholder="Título Banner  " disabled>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label for="description-1" class="form-label fw-semibold">URL de imagen Banner</label>
                            <input type="text" id="image-url-1" class="form-control" placeholder="URL de imagen Banner"
                                   disabled>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label for="image-url-1" class="form-label fw-semibold">Nombre Banner Medio</label>
                            <input type="text" id="image-url-1" class="form-control" placeholder="Nombre Banner Medio" disabled>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label for="description-1" class="form-label fw-semibold">Descripción</label>
                            <textarea id="description-1" class="form-control" rows="3" placeholder="Descripción"
                                      disabled></textarea>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label for="image-url-1" class="form-label fw-semibold">Correo electrónico</label>
                            <input type="text" id="image-url-1" class="form-control" placeholder="Correo electrónico" disabled>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label for="description-1" class="form-label fw-semibold">URL ícono para correo electrónico</label>
                            <input type="text" id="image-url-1" class="form-control"
                                   placeholder="URL ícono para correo electrónico" disabled>

                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label for="image-url-1" class="form-label fw-semibold">Low Título</label>
                            <input type="text" id="image-url-1" class="form-control" placeholder="Low Título" disabled>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label for="image-url-1" class="form-label fw-semibold">subtítulo</label>
                            <input type="text" id="image-url-1" class="form-control" placeholder="subtítulo" disabled>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label for="image-url-1" class="form-label fw-semibold">Nombre del primer botón</label>
                            <input type="text" id="image-url-1" class="form-control " placeholder="Nombre del primer botón"
                                   disabled>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label for="description-1" class="form-label fw-semibold">URL del ícono del primer botón</label>
                            <input type="text" id="image-url-1" class="form-control"
                                   placeholder="URL del ícono del primer botón" disabled>

                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label for="image-url-1" class="form-label fw-semibold">Nombre del segundo botón</label>
                            <input type="text" id="image-url-1" class="form-control custom-button"
                                   placeholder="Nombre del segundo botón" disabled>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label for="description-1" class="form-label fw-semibold">URL del ícono del segundo botón</label>
                            <input type="text" id="image-url-1" class="form-control"
                                   placeholder="URL del ícono del segundo botón" disabled>

                        </div>
                    </div>
                </div>


            </div>
        </div>

        <div class="row mt-4">
            <div class="col-12 text-end">
                <button class="btn btn-save">Guardar Cambios</button>
            </div>
        </div>
    </div>
</div>
<!-- copiar esto -->