<link href="~/css/beneficio.css" rel="stylesheet" />
<script src="~/js/beneficio.js"></script>
<div class="content overflow-x-scroll">
    <div class="container">
        <div class="row">

            <div class="col-12 mb-4 d-flex align-items-center justify-content-between ">
                <div class="d-flex align-items-center gap-3">
                    <h2 class="title d-none d-md-block">Gestionar beneficios </h2>
                    <h2 class="title d-block d-md-none"> Beneficios</h2>

                </div>
                <div>

                    <button class="button-create d-flex align-items-center gap-2 fs-6" data-bs-toggle="modal"
                        data-bs-target="#createSliderModal">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-plus-square" viewBox="0 0 16 16">
                            <path
                                d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2z" />
                            <path
                                d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4" />
                        </svg>
                        Nuevo beneficio

                    </button>
                </div>
            </div>

            <div id="tituloContainer">
            </div>


        </div>
        <div class="container">
            <div class="row cards-container px-2 px-md-0 " id="sliderContainer">
                <div class="card col-12 col-md-12 shadow border-0 p-4 mb-3">
                    <div class="d-flex justify-content-between align-items-start mb-3">
                        <h5 class="card-number mb-0"></h5>
                        <div class="d-flex gap-2">
                            <button class="btn btn-link text-danger p-0" data-bs-toggle="modal"
                                data-bs-target="#deleteConfirmationModal">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-trash-fill" viewBox="0 0 16 16">
                                    <path
                                        d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5M8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5m3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0" />
                                </svg>
                            </button>
                            <button class="btn btn-link text-primary p-0" data-bs-toggle="modal"
                                data-bs-target="#editSliderModal">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-pencil-fill" viewBox="0 0 16 16">
                                    <path
                                        d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.5.5 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11z" />
                                </svg>
                            </button>

                            <div class="sortable-handle d-flex align-items-center">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-three-dots-vertical" viewBox="0 0 16 16">
                                    <path
                                        d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0m0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0m0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0" />
                                </svg>
                            </div>
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="image-url-1" class="form-label fw-semibold">Nombre</label>
                        <input type="text" id="image-url-1" class="form-control" placeholder="Nombre" disabled>
                    </div>



                    <div class="mb-3">
                        <label for="description-1" class="form-label fw-semibold">Descripción</label>
                        <textarea id="description-1" class="form-control" rows="3" maxlength="250" placeholder="Descripción"
                            disabled></textarea>
                    </div>

                    <div>
                        <label for="image-url-1" class="form-label fw-semibold">URL del icono</label>
                        <input type="text" id="image-url-1" class="form-control" placeholder="URL del icono" disabled>
                    </div>
                </div>

            </div>

        </div>


        <div class="row mt-4">
            <div class="col-12 text-end">
                <button class="btn btn-save" id="saveOrder">Actualizar Orden</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal para Crear  -->
<div class="modal fade" id="createSliderModal" tabindex="-1" aria-labelledby="createSliderModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createSliderModalLabel">Crear Beneficio</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="alert alert-primary message-input" role="alert">
                    Los campos que tienen (*) aceptan hasta 250 caracteres y son obligatorios.
                </div>
                <form id="createSliderForm">
                    <div class="mb-3">
                        <label for="createNombre" class="form-label fw-semibold">Nombre*</label>
                        <input type="text" id="createNombre" class="form-control" placeholder="Nombre">
                    </div>



                    <div class="mb-3">
                        <label for="createDescription" class="form-label fw-semibold">Descripción*</label>
                        <textarea id="createDescription" class="form-control" rows="3" maxlength="250"
                            placeholder="Descripción"></textarea>
                    </div>

                    <div>
                        <label for="createUrlIcon" class="form-label fw-semibold">URL del icono*</label>
                        <input type="text" id="createUrlIcon" class="form-control" placeholder="URL del icono">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-close-modal
            btn-close-modal" data-bs-dismiss="modal">
                    Cerrar
                </button>
                <button type="button" class="btn btn-save" id="saveCreateSlider">Crear</button>
            </div>
        </div>
    </div>
</div>




<!-- Modal para Editar Slider -->
<div class="modal fade" id="editSliderModal" tabindex="-1" aria-labelledby="editSliderModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editSliderModalLabel">Editar Beneficios</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="alert alert-primary message-input" role="alert">
                    Los campos que tienen (*) aceptan hasta 250 caracteres y son obligatorios.
                </div>
                <form id="createSliderForm">
                    <div class="mb-3" hidden>
                        <label for="editId" class="form-label fw-semibold">Id</label>
                        <input type="text" id="editId" class="form-control" placeholder="Nombre">
                    </div>
                    <div class="mb-3" hidden>
                        <label for="editOrder" class="form-label fw-semibold">Id</label>
                        <input type="text" id="editOrder" class="form-control" placeholder="Nombre">
                    </div>
                    <div class="mb-3">
                        <label for="editNombre" class="form-label fw-semibold">Nombre*</label>
                        <input type="text" id="editNombre" class="form-control" placeholder="Nombre">
                    </div>



                    <div class="mb-3">
                        <label for="editDescription" class="form-label fw-semibold">Descripción*</label>
                        <textarea id="editDescription" class="form-control" rows="3" maxlength="250"
                            placeholder="Descripción"></textarea>
                    </div>

                    <div>
                        <label for="editUrlIcon" class="form-label fw-semibold">URL del icono*</label>
                        <input type="text" id="editUrlIcon" class="form-control" placeholder="URL del icono">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-close-modal
            btn-close-modal" data-bs-dismiss="modal">
                    Cerrar
                </button>
                <button type="button" class="btn btn-save" id="saveEditSlider">Guardar Cambios</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal de Confirmación para Eliminar -->
<div class="modal fade" id="deleteConfirmationModal" tabindex="-1" aria-labelledby="deleteConfirmationModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title " id="deleteConfirmationModalLabel">Confirmar Eliminación</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>¿Estás seguro de que deseas eliminar este Beneficio? Esta acción no se puede deshacer.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-close-modal" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" id="confirmDeleteButton" class="btn btn-save">Eliminar</button>
            </div>
        </div>
    </div>
</div>


<!-- Modal para editar titulo  -->

<div class="modal fade" id="editTitle" tabindex="-1" aria-labelledby="editTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editSliderModalLabel">Editar Titulo</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="editSliderForm">

                    <div class="alert alert-primary message-input" role="alert">
                        Los campos que tienen (*) aceptan hasta 250 caracteres y son obligatorios.
                    </div>
                    <div class="mb-3" hidden>
                        <label for="editIdTitulo" class="form-label fw-semibold">Id</label>
                        <input type="text" id="editIdTitulo" class="form-control" placeholder="Id">
                    </div>
                    <div class="mb-3">
                        <label for="editTitulo" class="form-label fw-semibold">Titulo*</label>
                        <input type="text" id="editTitulo" class="form-control" placeholder="¿Que es?" required>
                    </div>
                    <div class="mb-3">
                        <label for="editUrlImagen" class="form-label fw-semibold">
                            URL*
                        </label>
                        <input type="text" id="editUrlImagen" class="form-control" placeholder="URL
                    " required>
                    </div>
                    <div class=" my-3 ">
                        <div class="d-flex justify-content-between">
                            <label for="ediDescripcionBanner" class="form-label fw-semibold">Descripción del
                                banner*</label>

                        </div>
                        <textarea id="ediDescripcionBanner" class="form-control" rows="3" maxlength="250"
                            placeholder="Descripción del banner"></textarea>

                    </div>

                    <div class=" my-3 ">
                        <div class="d-flex justify-content-between">
                            <label for="editUrlBanner" class="form-label fw-semibold">URL del banner*</label>

                        </div>
                        <input type="text" id="editUrlBanner" class="form-control" placeholder="URL del banner">

                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-close-modal
                btn-close-modal" data-bs-dismiss="modal">
                    Cerrar
                </button>
                <button type="button" class="btn btn-save" id="saveEditTitulo">Guardar Cambios</button>
            </div>
        </div>
    </div>
</div>

<script src="../../shared/libraries/sortable/Sortable.min.js"></script>
<script src="../../shared/js/moveCard.js"></script>