<link href="~/css/banner.css" rel="stylesheet" />
<script src="~/js/banner.js"></script>
<!-- copiar esto -->
<!-- copiar esto -->
<div class="content overflow-x-scroll">
    <div class="container">
        <div class="row">
           
            <div class="col-12 mb-4  d-flex align-items-center justify-content-between ">
                <div class="d-flex align-items-center gap-3">
                    <h2 class="title d-none d-md-block">Gestionar Banner</h2>
                    <h2 class="title d-block d-md-none"> Banner</h2>

                </div>
                <div>

                    <button class="button-create d-flex align-items-center gap-2 fs-6" data-bs-toggle="modal"
                        data-bs-target="#createSliderModal">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-plus-square" viewBox="0 0 16 16">
                            <path
                                d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2z" />
                            <path
                                d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4" />
                        </svg>
                        Nuevo banner
                    </button>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row cards-container mb-3" id="sliderContainer">
            </div>

        </div>
        <div class="row mt-4">
            <div class="col-12 text-end">
                <button class="btn btn-save" id="saveOrder">Actualizar Orden</button>
            </div>
        </div>
    </div>
</div>
<!-- copiar esto -->
<!-- Modal para Crear Slider -->
<!-- Modal para Crear Slider -->
<div class="modal fade" id="createSliderModal" tabindex="-1" aria-labelledby="createSliderModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createSliderModalLabel">Crear Banner</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="alert alert-primary message-input" role="alert">
                    Los campos que tienen (*) aceptan hasta 250 caracteres y son obligatorios.
                </div>
                <form id="createSliderForm">
                    <div class="mb-3">
                        <label for="createDescription" class="form-label">Descripción*</label>
                        <textarea class="form-control" id="createDescription" rows="3" placeholder="Descripción"
                            maxlength="250" required></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="createImageUrl" class="form-label">URL de la Imagen*</label>
                        <input type="text" class="form-control" id="createImageUrl" placeholder="URL de la Imagen"
                            required>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-close-modal
            btn-close-modal" data-bs-dismiss="modal">
                    Cerrar
                </button>
                <button type="button" class="btn btn-save" id="saveCreateSlider">Crear</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal para Editar Slider -->
<div class="modal fade" id="editSliderModal" tabindex="-1" aria-labelledby="editSliderModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editSliderModalLabel">Editar Banner</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                  <div class="alert alert-primary message-input" role="alert">
                    Los campos que tienen (*) aceptan hasta 250 caracteres y son obligatorios.
                </div>
                <form id="editSliderForm">
                    <div class="mb-3" hidden>
                        <label for="editId" class="form-label">Id</label>
                        <input type="text" class="form-control" id="editId" placeholder="Id" required>
                    </div>
                    <div class="mb-3" hidden>
                        <label for="editOrder" class="form-label">Orden</label>
                        <input type="text" class="form-control" id="editOrder" placeholder="Orden" required>
                    </div>
                    <div class="mb-3">
                        <label for="editDescription" class="form-label">Descripción*</label>
                        <textarea class="form-control" id="editDescription" rows="3" placeholder="Descripción" required
                            maxlength="250"></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="editImageUrl" class="form-label">URL de la Imagen*</label>
                        <input type="text" class="form-control" id="editImageUrl" placeholder="URL de la Imagen"
                            required>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-close-modal
            btn-close-modal" data-bs-dismiss="modal">
                    Cerrar
                </button>
                <button type="button" class="btn btn-save" id="saveEditSlider">Guardar Cambios</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal de Confirmación para Eliminar -->
<div class="modal fade" id="deleteConfirmationModal" tabindex="-1" aria-labelledby="deleteConfirmationModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title " id="deleteConfirmationModalLabel">Confirmar Eliminación</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>¿Estás seguro de que deseas eliminar este slider? Esta acción no se puede deshacer.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-close-modal" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" id="confirmDeleteButton" class="btn btn-save">Eliminar</button>
            </div>
        </div>
    </div>
</div>
<script src="../../shared/libraries/sortable/Sortable.min.js"></script>
<script src="../../shared/js/moveCard.js"></script>