<link href="~/css/empresa.css" rel="stylesheet" />

<script type="module" src="~/js/modules/empresa/index.js" defer></script>

<script type="module" src="~/js/modules/seccion/index.js" defer></script>

<script type="module" src="~/js/modules/shared/regions/index.js" defer></script>
<script type="module" src="~/js/modules/shared/typeCompany/index.js" defer></script>

<main>
    <div class="hero">
        <div class="container" id="bannerEmpresa">
        </div>
    </div>

    <div>
        <div class="container py-5">
            <div class="container ">
                <div class="row">
                    <div class="col-md-4 mb-3">
                        <h3>Ubicación</h3>
                        <select name="ubicacion" id="inputRegion" class="form-select">
                        </select>
                    </div>
                    <div class="col-md-4">
                        <h3>Tipo de empresa</h3>
                        <select name="ubicacion" id="inputTipoEmpresa" class="form-select">
                        </select>
                    </div>
                </div>
            </div>
            <div class="cursos_grid graduated_companies" id="sliderEmpresa">

            </div>
        </div>

    </div>
   <div id="callToAction">

</div>

</main>
