<link href="~/css/empresa.css" rel="stylesheet" />

<script type="module" src="~/js/modules/empresa/index.js" defer></script>
<script type="module" src="~/js/modules/seccion/index.js" defer></script>
<script type="module" src="~/js/modules/shared/regions/index.js" defer></script>
<script type="module" src="~/js/modules/shared/typeCompany/index.js" defer></script>

<main>
    <div class="hero">
        <div class="container" id="bannerEmpresa">
        </div>
    </div>

    <div>
        <div class="container py-5">
            <div class="container ">
                <div class="row">
                    <div class="col-md-3 ">
                        <h5>Ubicación</h5>
                        <select name="ubicacion" id="inputRegion" class="form-select">
                        </select>
                    </div>
                    <div class="col-md-3">
                        <h5>Tipo de empresa</h5>
                        <select name="ubicacion" id="inputTipoEmpresa" class="form-select">
                        </select>
                    </div>
                    <div class="col-md-3">
                        <h5> RUC</h5>
                        <input type="text" id="inputRUC" class="form-control" maxlength="12"
                            placeholder="Ingrese RUC" />
                    </div>
                    <div class="col-md-3 d-flex align-items-end">
                        <button id="btnClearFilters" class="btn btn-secondary">Limpiar Filtros</button>
                    </div>

                </div>
            </div>
            <div class="cursos_grid graduated_companies" id="sliderEmpresa">

            </div>
            <div id="empresas-pagination"></div>
        </div>

    </div>
    <div id="callToAction"></div>

</main>
