<link href="~/css/curso.css" rel="stylesheet" />
<script src="~/js/curso.js"></script>
<!-- copiar esto -->
<div class="content overflow-x-scroll">
    <div class="container">
        <div class="row">

            <div class="col-12 mb-4 d-flex align-items-center justify-content-between ">
                <div class="d-flex align-items-center gap-3">
                    <h2 class="title d-none d-md-block">Gestionar cursos </h2>
                    <h2 class="title d-block d-md-none"> Cursos</h2>

                </div>
                <div>

                    <button class="button-create d-flex align-items-center gap-2 fs-6" data-bs-toggle="modal"
                        data-bs-target="#createSliderModal">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-plus-square" viewBox="0 0 16 16">
                            <path
                                d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2z" />
                            <path
                                d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4" />
                        </svg>
                        Nuevo curso
                    </button>
                </div>
            </div>
            <div id="tituloContainer">

            </div>

        </div>
        <div class="container">
            <div class="row cards-container px-2 px-md-0 " id="sliderContainer">
            </div>

        </div>


        <div class="row mt-4">
            <div class="col-12 text-end">
                <button class="btn btn-save" id="saveOrder">Actualizar Orden</button>
            </div>
        </div>
    </div>
</div>
<!-- copiar esto -->
<!-- Modal para Crear  -->
<div class="modal fade" id="createSliderModal" tabindex="-1" aria-labelledby="createSliderModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header d-flex justify-content-between align-items-center">
                <h5 class="modal-title" id="createSliderModalLabel">Nuevo curso</h5>

                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="alert alert-primary message-input" role="alert">
                    Los campos que tienen (*) aceptan hasta 250 caracteres y son obligatorios.
                </div>
                <form id="createSliderForm">
                    <div class="mb-3">
                        <label for="createCurso" class="form-label fw-semibold">Curso*</label>
                        <input type="text" id="createCurso" class="form-control" placeholder="Curso">
                    </div>                 

                    <div class="mb-3">
                        <label for="createDescription" class="form-label fw-semibold">Descripción*</label>
                        <textarea id="createDescription" class="form-control" rows="3"
                            placeholder="Descripcion"></textarea>
                    </div>

                    <div class="mb-3" style="display:none">
                        <label for="createFechaInicial" class="form-label fw-semibold">Fecha Inicial*</label>
                        <input type="date" id="createFechaInicial" class="form-control" placeholder="Fecha">
                    </div>
                    <div class="mb-3" style="display:none">
                        <label for="createFechaFinal" class="form-label fw-semibold">Fecha Fin*</label>
                        <input type="date" id="createFechaFinal" class="form-control" placeholder="Fecha">
                    </div>
                    <div class="mb-3" >
                        <label for="inputTipoEvento" class="form-label fw-semibold">Evento*</label>
                        <select name="ubicacion" id="inputTipoEvento" class="form-select">
                            <option selected>Seleccionar Evento</option>
                            <option value="1">Perú</option>
                            <option value="2">Cuzco</option>
                            <option value="3">Lima</option>
                        </select>
                        
                    </div>
                    <div class="mb-3">
                        <label class="form-label fw-semibold">Modalidad*</label>
                        <div id="modalidadContainer"></div>
                    </div>

                    <div class="mb-3" style="display:none">
                        <label for="inputTipoModalidad" class="form-label fw-semibold">Modalidad*</label>
                        <select class="form-select" id="inputTipoModalidad" multiple>
                            <option selected>Modalidad...</option>                    
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="createEstado" class="form-label fw-semibold">Estado*</label>
                        <select class="form-select" id="createEstado">
                            <option selected>Estado</option>
                            <option value="1">Habilitado</option>
                            <option value="0">Deshabilitado</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="createUrlImagen" class="form-label fw-semibold">URL de la imagen*</label>
                        <input type="text" id="createUrlImagen" class="form-control" placeholder="URL de la imagen">
                    </div>
                    <div class="mb-3">
                        <label for="createNombreBoton" class="form-label fw-semibold">Nombre del botón*</label>
                        <input type="text" id="createNombreBoton" class="form-control custom-button"
                            placeholder="Escriba el Nombre del botón">
                    </div>

                    <div class="mb-3">
                        <label for="createUrlIconBoton" class="form-label fw-semibold">URL icono de boton*</label>
                        <input type="text" id="createUrlIconBoton" class="form-control"
                            placeholder="URL icono de boton">
                    </div>


                    <div class="mb-3">
                        <label for="createBrochureUrl" class="form-label fw-semibold">URL del brochure*</label>
                        <input type="text" id="createBrochureUrl" class="form-control" placeholder="URL del brochure">
                    </div>                  

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-close-modal
            btn-close-modal" data-bs-dismiss="modal">
                    Cerrar
                </button>
                <button type="button" class="btn btn-save" id="saveCreateSlider">Crear</button>
            </div>
        </div>
    </div>
</div>




<!-- Modal para Editar Slider -->
<div class="modal fade" id="editSliderModal" tabindex="-1" aria-labelledby="editSliderModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editSliderModalLabel">Editar curso</h5>


                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <div class="alert alert-primary message-input" role="alert">
                    Los campos que tienen (*) aceptan hasta 250 caracteres y son obligatorios.
                </div>
                <form id="createSliderForm">
                    <div class="mb-3" hidden>
                        <label for="editId" class="form-label">Id</label>
                        <input type="text" class="form-control" id="editId" placeholder="Id" required>
                    </div>
                    <div class="mb-3" hidden>
                        <label for="editOrder" class="form-label">Orden</label>
                        <input type="text" class="form-control" id="editOrder" placeholder="Id" required>
                    </div>
                    <div class="mb-3">
                        <label for="editNombreCurso" class="form-label fw-semibold">Curso*</label>
                        <input type="text" id="editNombreCurso" class="form-control" placeholder="Curso">
                    </div>

                    <div class="mb-3" style="display:none">
                        <label for="editObjetivo" class="form-label fw-semibold">Objetivo del curso*</label>
                        <input type="text" id="editObjetivo" class="form-control"
                            placeholder="Escriba el objetivo del curso">
                    </div>

                    <div class="mb-3">
                        <label for="editDescription" class="form-label fw-semibold">Logros esperados*</label>
                        <textarea id="editDescription" class="form-control" rows="3"
                            placeholder="Logros esperados"></textarea>
                    </div>

                    <div class="mb-3" style="display:none">
                        <label for="editFechaInicio" class="form-label fw-semibold">Fecha Inicio*</label>
                        <input type="date" id="editFechaInicio" class="form-control" placeholder="Fecha">
                    </div>

                    <div class="mb-3" style="display:none">
                        <label for="editFechaFin" class="form-label fw-semibold">Fecha Fin*</label>
                        <input type="date" id="editFechaFin" class="form-control" placeholder="Fecha">
                    </div>
                    <div class="mb-3">
                        <label for="editTipoEvento" class="form-label fw-semibold">Evento*</label>
                        <select class="form-select" id="editTipoEvento">
                            <option selected>Evento...</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label class="form-label fw-semibold">Modalidad*</label>
                        <div id="editarModalidadContainer"></div>
                    </div>

                    <div class="mb-3">
                        <label for="editEstado" class="form-label fw-semibold">Estado*</label>
                        <select class="form-select" id="editEstado">
                            <option selected>Estado</option>
                            <option value="1">Habilitado</option>
                            <option value="0">Deshabilitado</option>
                        </select>
                    </div>


                    <div class="mb-3">
                        <label for="editUrlImagen" class="form-label fw-semibold">URL de la imagen*</label>
                        <input type="text" id="editUrlImagen" class="form-control" placeholder="URL de la imagen">
                    </div>
                    <div class="mb-3">
                        <label for="editNombreBoton" class="form-label fw-semibold">Nombre del botón*</label>
                        <input type="text" id="editNombreBoton" class="form-control custom-button"
                            placeholder="Escriba el Nombre del botón">
                    </div>

                    <div class="mb-3">
                        <label for="editUrlIcon" class="form-label fw-semibold">URL icono de boton*</label>
                        <input type="text" id="editUrlIcon" class="form-control" placeholder="URL icono de boton">
                    </div>

                    <div class="mb-3">
                        <label for="editBrochureUrl" class="form-label fw-semibold">URL del brochure*</label>
                        <input type="text" id="editBrochureUrl" class="form-control" placeholder="URL del brochure">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-close-modal
            btn-close-modal" data-bs-dismiss="modal">
                    Cerrar
                </button>
                <button type="button" class="btn btn-save" id="saveEditSlider">Guardar Cambios</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal de Confirmación para Eliminar -->
<div class="modal fade" id="deleteConfirmationModal" tabindex="-1" aria-labelledby="deleteConfirmationModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title " id="deleteConfirmationModalLabel">Confirmar Eliminación</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>¿Estás seguro de que deseas eliminar el curso? Esta acción no se puede deshacer.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-close-modal" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" id="confirmDeleteButton" class="btn btn-save">Eliminar</button>
            </div>
        </div>
    </div>
</div>


<!-- Modal para editar titulo  -->


<div class="modal fade" id="editTitle" tabindex="-1" aria-labelledby="editTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editSliderModalLabel">Editar Titulo</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="editSliderForm">
                    <div class="mb-3" hidden>
                        <label for="editIdTitulo" class="form-label">Id</label>
                        <input type="text" class="form-control" id="editIdTitulo" placeholder="Id" required>
                    </div>
                    <div class="mb-3">
                        <label for="editTitulo" class="form-label fw-semibold">Titulo</label>
                        <input type="text" id="editTitulo" class="form-control" placeholder="¿Que es?" required>
                    </div>
                    <div class="mb-3">
                        <label for="editNombreBotonTitulo" class="form-label fw-semibold">
                            Nombre del botón
                        </label>
                        <input type="text" id="editNombreBotonTitulo" class="form-control" placeholder="Nombre del botón
                    " required>
                    </div>

                    <div class="mb-3">
                        <label for="editUrlBoton" class="form-label fw-semibold">
                            URL ícono de botón

                        </label>
                        <input type="text" id="editUrlBoton" class="form-control" placeholder="URL ícono de botón "
                            required>
                    </div>

                    <hr>

                    <div class="col-md-12 my-3 ">
                        <div class="d-flex justify-content-between">
                            <label for="editTituloSeccion" class="form-label fw-semibold">Titulo de la seccion</label>

                        </div>
                        <input type="text" id="editTituloSeccion" class="form-control"
                            placeholder="Titulo de la seccion">

                    </div>

                    <div class="col-md-12 my-3 ">
                        <div class="d-flex justify-content-between">
                            <label for="editDescripcionSeccion" class="form-label fw-semibold">Descripción del
                                banner</label>

                        </div>
                        <textarea id="editDescripcionSeccion" class="form-control" rows="3"
                            placeholder="Logros esperados"></textarea>

                    </div>

                    <div class="col-md-12 my-3 ">
                        <div class="d-flex justify-content-between">
                            <label for="editUrlBanner" class="form-label fw-semibold">URL del banner</label>

                        </div>
                        <input type="text" id="editUrlBanner" class="form-control" placeholder="URL del banner">

                    </div>

                    <hr>

                    <div class="col-md-12 my-3 ">
                        <div class="d-flex justify-content-between">
                            <label for="editTituloCalendario" class="form-label fw-semibold">Titulo del Calendario</label>

                        </div>
                        <input type="text" id="editTituloCalendario" class="form-control"
                               placeholder="Titulo de la calendario">

                    </div>

                    <div class="col-md-12 my-3 ">
                        <div class="d-flex justify-content-between">
                            <label for="editDescripcionCalendario" class="form-label fw-semibold">
                                Descripción del
                                Calendario
                            </label>

                        </div>
                        <textarea id="editDescripcionCalendario" class="form-control" rows="3"
                                  placeholder="Descripcion calendario"></textarea>

                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-close-modal
                btn-close-modal" data-bs-dismiss="modal">
                    Cerrar
                </button>
                <button type="button" class="btn btn-save" id="saveEditTitulo">Guardar Cambios</button>
            </div>
        </div>
    </div>
</div>


<!-- Modal para nombre de boton  -->


<div class="modal fade" id="editNameButton" tabindex="-1" aria-labelledby="editNameButton" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editSliderModalLabel">Editar Nombre del Botón</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="editSliderForm">


                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-close-modal
                btn-close-modal" data-bs-dismiss="modal">
                    Cerrar
                </button>
                <button type="button" class="btn btn-save" id="saveEditSlider">Guardar Cambios</button>
            </div>
        </div>
    </div>
</div>





<!-- Modal para Url icono de boton  -->


<div class="modal fade" id="editIconButton" tabindex="-1" aria-labelledby="editIconButton" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editSliderModalLabel">
                    Editar URL ícono de botón
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="editSliderForm">


                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-close-modal
                    btn-close-modal" data-bs-dismiss="modal">
                    Cerrar
                </button>
                <button type="button" class="btn btn-save" id="saveEditSlider">Guardar Cambios</button>
            </div>
        </div>
    </div>
</div>

<script src="../../shared/libraries/sortable/Sortable.min.js"></script>
<script src="../../shared/js/moveCard.js"></script>
