<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Test</title>
</head>

<body>
    <header>Header Test</header>
    <main>
        @RenderBody()  @* Aquí se renderiza el contenido de la vista *@
    </main>
    <footer>Footer Test</footer>

</body>

</html>
