<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Promperú | Turismo In</title>
  <link rel="stylesheet" href="../../shared/libraries/bootstrap-5.3.3/css/bootstrap.min.css" />
  <link rel="stylesheet" href="../../shared/libraries/swiper-11.2.0/swiper-bundle.min.css" />
  <link rel="stylesheet" href="~/css/layout.css">
  <link href="~/css/home.css" rel="stylesheet" />
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="~/shared/libraries/jquery-3.7.1/js/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/dayjs@1/dayjs.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/dayjs@1/locale/es.js"></script>
    <script src="~/shared/libraries/pagination/pagination.min.js"></script>

</head>

<body>
    <header>Header Test</header>
    <main>
        @RenderBody()  @* Aquí se renderiza el contenido de la vista *@
    </main>
    <footer>Footer Test</footer>

</body>

</html>
