@import "../../shared/styles/variables.css";
@import "../../shared/styles/header.css";

body {
    background-color: var(--color-background);
    margin: 0;
}

.red-linear {
    content: '';
    width: 30px;
    height: 4.6px;
    background-color: #C41321;
    border-radius: 10px;
}

.header {
    background-color: var(--color-text-bold);
}

    .header .container-fluid {
        min-height: var(--header-height);
    }

.bg-primary {
    background-color: var(--color-primary) !important;
}

.header_btn {
    font-size: 12px;
}

    .header_btn img {
        width: 19px;
        height: 19px;
    }

.main_nav {
    position: sticky;
    top: var(--header-height);
    left: 0;
    width: 100%;
    background-color: var(--color-white);
    z-index: 9;
    min-height: fit-content;
}

    .main_nav li a {
        color: var(--color-text);
        font-size: 12px;
        font-weight: 500;
        line-height: 20px;
    }
