@import url("../shared/styles/variables.css");
@import url("../shared/styles/header.css");
@import url("../shared/styles/globals.css");

.content {
  background-color: var(--gray-primary);
  padding-top: 2rem;
  justify-content: start;
  width: 100%;
}

.banner-item {
  background-color: var(--color-background);
}

.btn-save {
  background-color: var(--color-primary);
  color: var(--color-white);
}

.btn-save:hover {
  background-color: var(--color-primary);
  opacity: 0.9;
  color: var(--color-white);
}

.btn-close-modal {
  background-color: var(--gray-bold);
  color: var(--color-white);
}

.btn-close-modal:hover {
  background-color: var(--gray-bold);
  opacity: 0.9;
  color: var(--color-white);
}

.banner-item h5 {
  font-weight: bold;
  font-size: 32px;
  opacity: 0.75;
}

.button-create {
  border: 1px solid var(--color-primary);
  color: var(--color-primary);
  border-radius: 5px;
  padding: 4px 10px;
}

.button-create:hover {
  opacity: 0.9;
}

.parent-div {
  position: relative;
}

.btn-delete {
  position: absolute;
  top: -60px;
  right: -60px;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-white);
  border: 1px solid var(--color-white);
  border-radius: 5%;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.btn-delete:hover {
  opacity: 0.9;
}

.btn-delete svg {
  width: 20px;
  height: 20px;
  fill: #18181b;
}

.btn-delete:hover svg {
  fill: #18181b;
}

.breadcrumb {
  color: rgba(0, 0, 0, 0.59);
  font-size: 13px;
}

.breadcrumb .first-bread {
  font-size: 13px;
  color: rgba(0, 0, 0, 0.59);
}

.breadcrumb .second-bread {
  font-size: 13px;
  color: var(--red-primary);
}

.breadcrumb a {
  text-decoration: none;
}

.sortable-handle {
  cursor: grab;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background-color: #f0f0f0;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.sortable-handle:hover {
  background-color: #e0e0e0;
}

.sortable-ghost {
  opacity: 0.5;
  background-color: #e9ecef;
}

@media (min-width: 768px) {
  .content {
    padding: 3rem 0;
  }

  .banner-item {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
}
