@{
    Layout = null; // No usa el Layout principal
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../../shared/libraries/bootstrap-5.3.3/css/bootstrap.min.css">
    <link href="~/css/login.css" rel="stylesheet" />  
    <script src="~/shared/libraries/jquery-3.7.1/js/jquery.min.js"></script>
    <script src="~/shared/libraries/sweetalert-11.17.2/js/sweetalert.js"></script>
</head>

<body>
    <div class="d-flex flex-column vh-100">
        <div class="header">
            <div class="container d-flex justify-content-between align-items-center px-3 px-md-5 h-100" id="logoHome">
            </div>
            
        </div>

        <div class="login-grid">
            <div class="p-4 d-flex flex-column justify-content-center align-items-center  w-100">
                <form class="login-card" id="loginForm">
                    <h2 class="title mb-5">Bienvenido</h2>
                    <div class="mb-4">
                        <div class="input-wrapper">
                            <label for="usuario">Usuario</label>
                            <input type="text" class="custom-input" id="usuario" placeholder="Ingrese su usuario">
                        </div>
                    </div>
                    <div class="mb-4">
                        <div class="input-wrapper">
                            <label for="password">Contraseña</label>
                            <input type="password" class="custom-input" id="password" placeholder="Ingrese su contraseña">
                        </div>
                        <div class="text-end">
                            <small><a href="#" id="forgotPasswordLink"  class="text-muted text-decoration-none">¿Has olvidado tu contraseña?</a></small>
                        </div>
                    </div>
                    <div class="d-grid">
                        <button type="submit" class="custom-button m-auto px-5">Ingresar <img src="../../shared/assets/icons/arrow-right.svg" alt=""></button>
                    </div>
                </form>
            </div>
            <div class="cta d-flex justify-content-center align-items-center">
                <h2 class="fw-bold text-white text-center">Programa Comercial <br> para Empresas <br> Turísticas</h2>
            </div>
        </div>    
    </div>
    <script src="../../shared/libraries/bootstrap-5.3.3/js/bootstrap.bundle.min.js"></script>   
    <script src="~/js\login.js"></script>
</body>

</html>