<link href="~/css/empresa.css" rel="stylesheet" />
<script src="~/js/empresa.js"></script>

<div class="content overflow-x-scroll">
    <div class="container">
        <div class="row">

            <div class="col-12 mb-4  d-flex align-items-center justify-content-between ">
                <div class="d-flex align-items-center gap-3">
                    <h2 class="title d-none d-md-block">Gestionar Empresas Graduadas </h2>
                    <h2 class="title d-block d-md-none"> Empresas</h2>
                </div>
                <div>

                    <button class="button-create d-flex align-items-center gap-2 fs-6" data-bs-toggle="modal"
                        data-bs-target="#createSliderModal">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-plus-square" viewBox="0 0 16 16">
                            <path
                                d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2z" />
                            <path
                                d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4" />
                        </svg>
                        Nueva empresa
                    </button>
                </div>
            </div>
            <div id="tituloContainer">
            </div>

        </div>
        <div id="container">
            <div class="row cards-container px-2 px-md-0 " id="sliderContainer">

            </div>
        </div>
        <div class="col-12 text-end">
            <input type="text" id="nombreTabla" value="EmpresaGraduada" hidden />
            <div class="d-inline-flex gap-2">
                <button class="btn btn-save" id="saveOrder">Actualizar Orden</button>
                <button class="btn btn-save" id="btnDescargar">Descargar Datos</button>
            </div>
        </div>
    </div>
</div>
<!-- copiar esto -->
<!-- Modal para Crear  -->
<div class="modal fade" id="createSliderModal" tabindex="-1" aria-labelledby="createSliderModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createSliderModalLabel">Crear empresa</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="createSliderForm">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="createNombreComercial" class="form-label fw-semibold">Nombre Comercial</label>
                                <input type="text" id="createNombreComercial" class="form-control" placeholder="Nombre Comercial">
                            </div>

                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="inputTipoRegion" class="form-label fw-semibold">Región</label>
                                <select id="inputTipoRegion" class="form-select" aria-label="Default select example">
                                    <option selected>Región</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="createCorreo" class="form-label fw-semibold">Correo Electronico</label>
                                <input type="text" id="createCorreo" class="form-control" placeholder="Correo Electronico">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="createPagina" class="form-label fw-semibold">Página web</label>
                                <input type="text" id="createPagina" class="form-control" placeholder="Página web">
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="createRuc" class="form-label fw-semibold">RUC</label>
                                <input type="text" id="createRuc" class="form-control" placeholder="RUC">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="createRedes" class="form-label fw-semibold">Redes sociales</label>
                                <input type="text" id="createRedes" class="form-control" placeholder="RUC">

                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="inputTipoEmpresa" class="form-label fw-semibold">Tipo Empresa</label>
                                <select id="inputTipoEmpresa" class="form-select" aria-label="Default select example">
                                    <option selected>Empresa</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
                                </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="createCertificaciones" class="form-label fw-semibold">Certificaciones</label>
                                <input type="text" id="createCertificaciones" class="form-control" placeholder="Certificaciones">
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="createUrlLogo" class="form-label fw-semibold">URL de la Logo</label>
                                <input type="text" id="createUrlLogo" class="form-control" placeholder="URL de la Logo">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="createMercados" class="form-label fw-semibold">Mercados</label>
                                <input type="text" id="createMercados" class="form-control" placeholder="Mercados">

                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="createRazon" class="form-label fw-semibold">Razon social</label>
                                <input type="text" id="createRazon" class="form-control" placeholder="Razon social">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="createSegmentos" class="form-label fw-semibold">Segmentos atendidos</label>
                                <input type="text" id="createSegmentos" class="form-control" placeholder="Segmentos atendidos">
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="createDireccion" class="form-label fw-semibold">Dirección</label>
                                <input type="text" id="createDireccion" class="form-control" placeholder="Dirección">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="createDescription" class="form-label fw-semibold">Descripccion</label>
                                <input type="text" id="createDescription" class="form-control" placeholder="Discripcion">
                            </div>
                        </div>

                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-close-modal
            btn-close-modal" data-bs-dismiss="modal">
                    Cerrar
                </button>
                <button type="button" class="btn btn-save" id="saveCreateSlider">Crear</button>
            </div>
        </div>
    </div>
</div>




<!-- Modal para Editar Slider -->
<div class="modal fade" id="editSliderModal" tabindex="-1" aria-labelledby="editSliderModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editSliderModalLabel">Editar caso de éxito</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="createSliderForm">
                    <div class="row">
                        <div class="col-md-6" hidden>
                            <div class="mb-3">
                                <label for="editId" class="form-label fw-semibold">Nombre Comercial</label>
                                <input type="text" id="editIdEmpresa" class="form-control" placeholder="Nombre Comercial">
                            </div>

                        </div>
                        <div class="col-md-6" hidden>
                            <div class="mb-3">
                                <label for="editOrden" class="form-label fw-semibold">Nombre Comercial</label>
                                <input type="text" id="editOrdenEmpresa" class="form-control" placeholder="Nombre Comercial">
                            </div>

                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="editNombreComercial" class="form-label fw-semibold">Nombre Comercial</label>
                                <input type="text" id="editNombreComercial" class="form-control" placeholder="Nombre Comercial">
                            </div>

                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="editTipoRegion" class="form-label fw-semibold">Región</label>
                                <select id="editTipoRegion" class="form-select" aria-label="Default select example">
                                    <option selected>Región</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="editCorreo" class="form-label fw-semibold">Correo Electronico</label>
                                <input type="text" id="editCorreo" class="form-control" placeholder="Correo Electronico">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="editPagina" class="form-label fw-semibold">Página web</label>
                                <input type="text" id="editPagina" class="form-control" placeholder="Página web">
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="editRuc" class="form-label fw-semibold">RUC</label>
                                <input type="text" id="editRuc" class="form-control" placeholder="RUC">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="editRedes" class="form-label fw-semibold">Redes sociales</label>
                                <input type="text" id="editRedes" class="form-control" placeholder="RUC">

                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="editTipoEmpresa" class="form-label fw-semibold">Tipo Empresa</label>
                                <select id="editTipoEmpresa" class="form-select" aria-label="Default select example">
                                    <option selected>Empresa</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="editCertificaciones" class="form-label fw-semibold">Certificaciones</label>
                                <input type="text" id="editCertificaciones" class="form-control" placeholder="Certificaciones">
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="editUrlLogo" class="form-label fw-semibold">URL de la Logo</label>
                                <input type="text" id="editUrlLogo" class="form-control" placeholder="URL de la Logo">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="editMercados" class="form-label fw-semibold">Mercados</label>
                                <input type="text" id="editMercados" class="form-control" placeholder="Mercados">

                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="editRazon" class="form-label fw-semibold">Razon social</label>
                                <input type="text" id="editRazon" class="form-control" placeholder="Razon social">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="editSegmentos" class="form-label fw-semibold">Segmentos atendidos</label>
                                <input type="text" id="editSegmentos" class="form-control" placeholder="Segmentos atendidos">
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="editDireccion" class="form-label fw-semibold">Dirección</label>
                                <input type="text" id="editDireccion" class="form-control" placeholder="Dirección">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="editDescription" class="form-label fw-semibold">Descripccion</label>
                                <input type="text" id="editDescription" class="form-control" placeholder="Discripcion">
                            </div>
                        </div>

                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-close-modal
            btn-close-modal" data-bs-dismiss="modal">
                    Cerrar
                </button>
                <button type="button" class="btn btn-save" id="saveEditSlider">Guardar Cambios</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal de Confirmación para Eliminar -->
<div class="modal fade" id="deleteConfirmationModal" tabindex="-1" aria-labelledby="deleteConfirmationModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title " id="deleteConfirmationModalLabel">Confirmar Eliminación</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>¿Estás seguro de que deseas eliminar esta empresa? Esta acción no se puede deshacer.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-close-modal" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" id="confirmDeleteButton" class="btn btn-save">Eliminar</button>
            </div>
        </div>
    </div>
</div>


<!-- Modal para editar titulo  -->


<div class="modal fade" id="editTitle" tabindex="-1" aria-labelledby="editTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editSliderModalLabel">Editar Titulo</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="alert alert-primary message-input" role="alert">
                    Los campos que tienen (*) aceptan hasta 250 caracteres y son obligatorios.
                </div>
                <form id="editSliderForm">
                    <div class="mb-3" hidden>
                        <label for="editId" class="form-label fw-semibold">Id</label>
                        <input type="text" id="editId" class="form-control" placeholder="Paso">
                    </div>
                    <div class="row ">
                        <div class=" my-3 ">
                            <div class="d-flex justify-content-between">
                                <label for="editNombreBoton" class="form-label fw-semibold">Nombre del boton*</label>

                            </div>
                            <input type="text" id="editNombreBoton" class="form-control" placeholder="Nombre del boton">

                        </div>
                        <div class=" my-3 ">
                            <div class="d-flex justify-content-between">
                                <label for="editTitulo" class="form-label fw-semibold">titulo*</label>

                            </div>
                            <input type="text" id="editTitulo" class="form-control " placeholder="titulo">

                        </div>
                    </div>

                    <div class="row ">
                        <div class=" my-3 ">
                            <div class="d-flex justify-content-between">
                                <label for="editIconoBoton" class="form-label fw-semibold">icono del boton*</label>

                            </div>

                            <input type="text" id="editIconoBoton" class="form-control" placeholder="icono del botón">
                        </div>

                    </div>
                    <hr>
                    <div class="row ">
                        <div class="my-3 ">
                            <div class="d-flex justify-content-between">
                                <label for="editDescripcion" class="form-label fw-semibold">Descripcion*</label>
                            </div>
                            <textarea id="editDescripcion" class="form-control" rows="3"
                                placeholder="Descripcion"></textarea>

                        </div>

                          <div class="my-3 ">
                            <div class="d-flex justify-content-between">
                                <label for="editUrlBannerSeccion" class="form-label fw-semibold">URL banner*</label>
                            </div>
                           
                            <input type="text" id="editUrlBannerSeccion" class="form-control" placeholder="URL banner">

                        </div>

                    </div>



                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-close-modal
                btn-close-modal" data-bs-dismiss="modal">
                    Cerrar
                </button>
                <button type="button" class="btn btn-save" id="saveEditTitulo">Guardar Cambios</button>
            </div>
        </div>
    </div>
</div>



<script src="../../shared/libraries/sortable/Sortable.min.js"></script>
<script src="../../shared/js/moveCard.js"></script>