<link href="~/css/empresa.css" rel="stylesheet" />
<script src="~/js/empresa.js"></script>

<div class="content overflow-x-scroll">
    <div class="container">
        <div class="row">
            <div class="breadcrumb px-3 col-12 d-flex align-items-center ">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" class="mx-1" fill="currentColor"
                     class="bi bi-house-door-fill" viewBox="0 0 16 16">
                    <path d="M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5" />
                </svg>
                <a href="#!">
                    <span class="first-bread"> Mi Home</span>
                </a>
                <div class="px-2">
                    >
                </div>
                <div>
                    <a href="#!">
                        <span class="second-bread">Graduados</span>
                    </a>
                </div>
            </div>
            <div class="col-12 mb-4  d-flex align-items-center justify-content-between ">
                <div class="d-flex align-items-center gap-3">
                    <h2 class="title d-none d-md-block">Edición de Empresas Graduadas </h2>
                    <h2 class="title d-block d-md-none"> Graduadas</h2>

                </div>
                <div>

                    <button class="button-create d-flex align-items-center gap-2 fs-6" data-bs-toggle="modal"
                            data-bs-target="#createSliderModal">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                             class="bi bi-plus-square" viewBox="0 0 16 16">
                            <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2z" />
                            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4" />
                        </svg>
                        Nueva empresa
                    </button>
                </div>
            </div>
            <div id="tituloContainer">
            <div class="row ">
                <div class="col-md-6 my-3 ">
                    <div class="d-flex justify-content-between">
                        <label for="titulo-" class="form-label fw-semibold">Título general</label>
                        <a href="#!" class="icon-link" data-bs-toggle="modal" data-bs-target="#editTitle">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                 class="bi bi-pencil-fill" viewBox="0 0 16 16">
                                <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.5.5 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11z" />
                            </svg>
                        </a>
                    </div>
                    <input type="text" id="titulo-" class="form-control" placeholder="Título general" disabled>

                </div>
                <div class="col-md-6 my-3 ">
                    <div class="d-flex justify-content-between">
                        <label for="image-url-1" class="form-label fw-semibold">Nombre Boton</label>
                        <a href="#!" class="icon-link" data-bs-toggle="modal" data-bs-target="#editNameButton">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                 class="bi bi-pencil-fill" viewBox="0 0 16 16">
                                <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.5.5 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11z" />
                            </svg>
                        </a>
                    </div>
                    <input type="text" id="image-url-1" class="form-control custom-button" placeholder="Boton" disabled>

                </div>
            </div>

            <div class="row ">
                <div class="col-md-6 my-3 ">
                    <div class="d-flex justify-content-between">
                        <label for="image-url-1" class="form-label fw-semibold">URL del botón</label>
                        <a href="#!" class="icon-link" data-bs-toggle="modal" data-bs-target="#editUrlVideo">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                 class="bi bi-pencil-fill" viewBox="0 0 16 16">
                                <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.5.5 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11z" />
                            </svg>
                        </a>
                    </div>

                    <input type="text" id="image-url-1" class="form-control" placeholder="URL del botón" disabled>
                </div>

            </div>
            </div>

        </div>
        <div id="container">
            <div class="row cards-container px-2 px-md-0 " id="sliderContainer">
            <div class="card col-12 col-md-12 shadow border-0 p-4 mb-3">
                <div class="d-flex justify-content-between align-items-start mb-3">
                    <h5 class="card-number mb-0"></h5>
                    <div class="d-flex gap-2">
                        <button class="btn btn-link text-danger p-0" data-bs-toggle="modal"
                                data-bs-target="#deleteConfirmationModal">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                 class="bi bi-trash-fill" viewBox="0 0 16 16">
                                <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5M8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5m3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0" />
                            </svg>
                        </button>
                        <button class="btn btn-link text-primary p-0" data-bs-toggle="modal"
                                data-bs-target="#editSliderModal">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                 class="bi bi-pencil-fill" viewBox="0 0 16 16">
                                <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.5.5 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11z" />
                            </svg>
                        </button>

                        <div class="sortable-handle d-flex align-items-center">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                 class="bi bi-three-dots-vertical" viewBox="0 0 16 16">
                                <path d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0m0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0m0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0" />
                            </svg>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label for="image-url-1" class="form-label fw-semibold">Nombre Comercial</label>
                            <input type="text" id="image-url-1" class="form-control" placeholder="Nombre Comercial" disabled>
                        </div>

                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label for="description-1" class="form-label fw-semibold">Región</label>
                            <select class="form-select" aria-label="Default select example" disabled>
                                <option selected>Región</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label for="image-url-1" class="form-label fw-semibold">Correo Electronico</label>
                            <input type="text" id="image-url-1" class="form-control" placeholder="Correo Electronico" disabled>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label for="image-url-1" class="form-label fw-semibold">Página web</label>
                            <input type="text" id="image-url-1" class="form-control" placeholder="Página web" disabled>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label for="image-url-1" class="form-label fw-semibold">RUC</label>
                            <input type="text" id="image-url-1" class="form-control" placeholder="RUC" disabled>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label for="image-url-1" class="form-label fw-semibold">Redes sociales</label>
                            <select class="form-select" aria-label="Default select example" disabled>
                                <option selected>Redes sociales</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label for="image-url-1" class="form-label fw-semibold">Tipo de empresa</label>
                            <input type="text" id="image-url-1" class="form-control" placeholder="Tipo de empresa" disabled>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label for="image-url-1" class="form-label fw-semibold">Certificaciones</label>
                            <input type="text" id="image-url-1" class="form-control" placeholder="Certificaciones" disabled>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label for="image-url-1" class="form-label fw-semibold">URL de la Logo</label>
                            <input type="text" id="image-url-1" class="form-control" placeholder="URL de la Logo" disabled>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label for="image-url-1" class="form-label fw-semibold">Mercados</label>
                            <select class="form-select" aria-label="Default select example" disabled>
                                <option selected>Mercados</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                            </select>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label for="image-url-1" class="form-label fw-semibold">Razon social</label>
                            <input type="text" id="image-url-1" class="form-control" placeholder="Razon social" disabled>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label for="image-url-1" class="form-label fw-semibold">Segmentos atendidos</label>
                            <input type="text" id="image-url-1" class="form-control" placeholder="Segmentos atendidos" disabled>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label for="image-url-1" class="form-label fw-semibold">Dirección</label>
                            <input type="text" id="image-url-1" class="form-control" placeholder="Dirección" disabled>
                        </div>
                    </div>

                </div>

            </div>
        </div>
        </div>
        <div class="row mt-4">
            <div class="col-12 text-end">
                <button class="btn btn-save">Guardar Cambios</button>
            </div>
        </div>
    </div>
</div>
<!-- copiar esto -->
<!-- Modal para Crear  -->
<div class="modal fade" id="createSliderModal" tabindex="-1" aria-labelledby="createSliderModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createSliderModalLabel">Crear empresa</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="createSliderForm">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="image-url-1" class="form-label fw-semibold">Nombre Comercial</label>
                                <input type="text" id="image-url-1" class="form-control" placeholder="Nombre Comercial">
                            </div>

                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="description-1" class="form-label fw-semibold">Región</label>
                                <select class="form-select" aria-label="Default select example">
                                    <option selected>Región</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="image-url-1" class="form-label fw-semibold">Correo Electronico</label>
                                <input type="text" id="image-url-1" class="form-control" placeholder="Correo Electronico">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="image-url-1" class="form-label fw-semibold">Página web</label>
                                <input type="text" id="image-url-1" class="form-control" placeholder="Página web">
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="image-url-1" class="form-label fw-semibold">RUC</label>
                                <input type="text" id="image-url-1" class="form-control" placeholder="RUC">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="image-url-1" class="form-label fw-semibold">Redes sociales</label>
                                <select class="form-select" aria-label="Default select example">
                                    <option selected>Redes sociales</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="image-url-1" class="form-label fw-semibold">Tipo de empresa</label>
                                <input type="text" id="image-url-1" class="form-control" placeholder="Tipo de empresa">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="image-url-1" class="form-label fw-semibold">Certificaciones</label>
                                <input type="text" id="image-url-1" class="form-control" placeholder="Certificaciones">
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="image-url-1" class="form-label fw-semibold">URL de la Logo</label>
                                <input type="text" id="image-url-1" class="form-control" placeholder="URL de la Logo">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="image-url-1" class="form-label fw-semibold">Mercados</label>
                                <select class="form-select" aria-label="Default select example">
                                    <option selected>Mercados</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="image-url-1" class="form-label fw-semibold">Razon social</label>
                                <input type="text" id="image-url-1" class="form-control" placeholder="Razon social">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="image-url-1" class="form-label fw-semibold">Segmentos atendidos</label>
                                <input type="text" id="image-url-1" class="form-control" placeholder="Segmentos atendidos">
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="image-url-1" class="form-label fw-semibold">Dirección</label>
                                <input type="text" id="image-url-1" class="form-control" placeholder="Dirección">
                            </div>
                        </div>

                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-close-modal
            btn-close-modal" data-bs-dismiss="modal">
                    Cerrar
                </button>
                <button type="button" class="btn btn-save" id="saveCreateSlider">Crear</button>
            </div>
        </div>
    </div>
</div>




<!-- Modal para Editar Slider -->
<div class="modal fade" id="editSliderModal" tabindex="-1" aria-labelledby="editSliderModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editSliderModalLabel">Editar caso de éxito</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="createSliderForm">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="image-url-1" class="form-label fw-semibold">Nombre Comercial</label>
                                <input type="text" id="image-url-1" class="form-control" placeholder="Nombre Comercial">
                            </div>

                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="description-1" class="form-label fw-semibold">Región</label>
                                <select class="form-select" aria-label="Default select example">
                                    <option selected>Región</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="image-url-1" class="form-label fw-semibold">Correo Electronico</label>
                                <input type="text" id="image-url-1" class="form-control" placeholder="Correo Electronico">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="image-url-1" class="form-label fw-semibold">Página web</label>
                                <input type="text" id="image-url-1" class="form-control" placeholder="Página web">
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="image-url-1" class="form-label fw-semibold">RUC</label>
                                <input type="text" id="image-url-1" class="form-control" placeholder="RUC">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="image-url-1" class="form-label fw-semibold">Redes sociales</label>
                                <select class="form-select" aria-label="Default select example">
                                    <option selected>Redes sociales</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="image-url-1" class="form-label fw-semibold">Tipo de empresa</label>
                                <input type="text" id="image-url-1" class="form-control" placeholder="Tipo de empresa">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="image-url-1" class="form-label fw-semibold">Certificaciones</label>
                                <input type="text" id="image-url-1" class="form-control" placeholder="Certificaciones">
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="image-url-1" class="form-label fw-semibold">URL de la Logo</label>
                                <input type="text" id="image-url-1" class="form-control" placeholder="URL de la Logo">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="image-url-1" class="form-label fw-semibold">Mercados</label>
                                <select class="form-select" aria-label="Default select example">
                                    <option selected>Mercados</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="image-url-1" class="form-label fw-semibold">Razon social</label>
                                <input type="text" id="image-url-1" class="form-control" placeholder="Razon social">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="image-url-1" class="form-label fw-semibold">Segmentos atendidos</label>
                                <input type="text" id="image-url-1" class="form-control" placeholder="Segmentos atendidos">
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="image-url-1" class="form-label fw-semibold">Dirección</label>
                                <input type="text" id="image-url-1" class="form-control" placeholder="Dirección">
                            </div>
                        </div>

                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-close-modal
            btn-close-modal" data-bs-dismiss="modal">
                    Cerrar
                </button>
                <button type="button" class="btn btn-save" id="saveEditSlider">Guardar Cambios</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal de Confirmación para Eliminar -->
<div class="modal fade" id="deleteConfirmationModal" tabindex="-1" aria-labelledby="deleteConfirmationModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title " id="deleteConfirmationModalLabel">Confirmar Eliminación</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>¿Estás seguro de que deseas eliminar esta empresa? Esta acción no se puede deshacer.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-close-modal" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" id="confirmDeleteButton" class="btn btn-save">Eliminar</button>
            </div>
        </div>
    </div>
</div>


<!-- Modal para editar titulo  -->


<div class="modal fade" id="editTitle" tabindex="-1" aria-labelledby="editTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editSliderModalLabel">Editar Titulo general</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="editSliderForm">

                    <div class="row ">
                        <div class="col-md-6 my-3 ">
                            <div class="d-flex justify-content-between">
                                <label for="image-url-1" class="form-label fw-semibold">Título general</label>

                            </div>
                            <input type="text" id="image-url-1" class="form-control" placeholder="Título general" disabled>

                        </div>
                        <div class="col-md-6 my-3 ">
                            <div class="d-flex justify-content-between">
                                <label for="image-url-1" class="form-label fw-semibold">Boton</label>

                            </div>
                            <input type="text" id="image-url-1" class="form-control custom-button" placeholder="Boton" disabled>

                        </div>
                    </div>

                    <div class="row ">
                        <div class="col-md-6 my-3 ">
                            <div class="d-flex justify-content-between">
                                <label for="image-url-1" class="form-label fw-semibold">URL del botón</label>

                            </div>

                            <input type="text" id="image-url-1" class="form-control" placeholder="URL del botón" disabled>
                        </div>

                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-close-modal
                btn-close-modal" data-bs-dismiss="modal">
                    Cerrar
                </button>
                <button type="button" class="btn btn-save" id="saveEditSlider">Guardar Cambios</button>
            </div>
        </div>
    </div>
</div>



<script src="../../shared/libraries/sortable/Sortable.min.js"></script>
<script src="../../shared/js/moveCard.js"></script>