<link href="~/css/curso.css" rel="stylesheet" />
<script src="~/js/curso.js"></script>
<script type="module" src="~/js/modules/seccion/index.js" defer></script>
<main>
    <div class="hero">
        <div class="container" id="banner">
            <div class="title">Cursos</div>
            <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magn</p>
        </div>
    </div>

    <div>
        <div class="container py-5">
            <div class="row mb-5">
                <div class="col-12" id="tituloCurso">
                    <h2>Conoce nuestros cursos</h2>
                    <div class="red-linear"></div>
                </div>
            </div>
            <div class="cursos_grid cursos" id="sliderCurso">
                
            </div>
        </div>

    </div>
       <div id="callToAction"></div>
</main>
