<link href="~/css/informacion.css" rel="stylesheet" />
<script src="~/js/informacion.js"></script>

<div class="hero">
    <div class="container" id="banner">

    </div>
</div>
<div class="bg-white">
    <div class="container pt-md-5 mb-md-5">
        <div class="row" id="seccionInfo">

    </div>
</div>