@import "./singleHero.css";

.caso-grid h3 {
  margin-top: 1rem;
  color: var(--red-secondary);
  font-weight: 700;
  font-size: var(--font-size-mobile-md);
}

.caso-grid p {
  font-size: var(--font-size-mobile);
  margin-bottom: 1rem;
}

@media screen and (min-width: 992px) {
  .caso-grid h3 {
    color: var(--red-secondary);
    font-weight: 700;
    font-size: var(--font-size-desktop);
    margin-top: 0rem;
  }

  .caso-grid p {
    font-size: var(--font-size-desktop-paragrahp);
    margin-bottom: 0rem;
  }
}
