.cursos_swiper h4 {
  font-size: var(--font-size-mobile-md);
  font-weight: bold;
}

.cursos_swiper p {
  font-size: var(--font-size-mobile);
}

.cursos_swiper svg {
  width: 14px;
  height: 14px;
}

.cursos_swiper .pagination svg {
  width: 20px;
  height: 20px;
}

.cursos_swiper .curso_description {
  color: #b2b2b2;
}

.cursos_swiper .button_brochure {
  border: 1px solid #0070ba;
  color: #0070ba;
  padding: 0.8rem 2rem;
  border-radius: 10px;
  margin-top: 10px;
  cursor: pointer;
  text-decoration: none;
  font-size: 12px;
  font-weight: 600;
}

.cursos_swiper .button_brochure:hover {
  background-color: #0070ba;
  color: #fff;
}

.cursos_swiper .content {
  margin-top: -20px;
  background: #fff;
  border-top-right-radius: 20px;
}

.cursos_swiper .swiper-slide {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.cursos_swiper .card {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.cursos_swiper .content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  min-height: 250px;
  max-height: 400px;
}

.cursos_swiper .button_brochure {
  align-self: center;
}

.cursos .card img,
.cursos_swiper .card img {
  width: 100%;
  object-fit: cover;
  height: 219px;
}

.cursos_swiper .swiper-wrapper {
  align-items: stretch;
}

.cursos h4 {
  font-size: var(--font-size-mobile-md);
  font-weight: bold;
}

.cursos p {
  font-size: var(--font-size-mobile);
}

.cursos svg {
  width: 14px;
  height: 14px;
}

.cursos .pagination svg {
  width: 20px;
  height: 20px;
}

.cursos .curso_description {
  color: #b2b2b2;
}

.cursos .button_brochure {
  border: 1px solid #0070ba;
  color: #0070ba;
  padding: 0.8rem 2rem;
  border-radius: 10px;
  margin-top: 10px;
  cursor: pointer;
  text-decoration: none;
  font-size: 12px;
  font-weight: 600;
}

.cursos .button_brochure:hover {
  background-color: #0070ba;
  color: #fff;
}

.cursos .content {
  height: 100%;
  margin-top: -20px;
  background: #fff;
  border-top-right-radius: 20px;
}

.cursos_grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(1, 1fr);
}

@media screen and (min-width: 768px) {
  .cursos_grid {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 992px) {
  .cursos_swiper h4 {
    font-size: var(--font-size-desktop-md);
    font-weight: bold;
  }

  .cursos_swiper p {
    font-size: var(--font-size-desktop-sm);
  }

  .cursos_swiper svg {
    width: 25px;
    height: 25px;
  }

  .cursos_swiper .pagination svg {
    width: 32px;
    height: 32px;
  }

  .cursos_swiper .curso_description {
    color: #b2b2b2;
  }

  .cursos_swiper .button_brochure {
    border: 1px solid #0070ba;
    color: #0070ba;
    padding: 0.8rem 2rem;
    border-radius: 10px;
    margin-top: 10px;
    cursor: pointer;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
  }

  .cursos_swiper .button_brochure:hover {
    background-color: #0070ba;
    color: #fff;
  }

  .cursos_swiper .content {
    margin-top: -20px;
    background: #fff;
    border-top-right-radius: 20px;
  }
  .cursos h4 {
    font-size: var(--font-size-desktop-md);
    font-weight: bold;
  }

  .cursos p {
    font-size: var(--font-size-desktop-sm);
  }

  .cursos svg {
    width: 25px;
    height: 25px;
  }

  .cursos .pagination svg {
    width: 32px;
    height: 32px;
  }

  .cursos .curso_description {
    color: #b2b2b2;
  }

  .cursos .button_brochure {
    border: 1px solid #0070ba;
    color: #0070ba;
    padding: 0.8rem 2rem;
    border-radius: 10px;
    margin-top: 10px;
    cursor: pointer;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
  }

  .cursos .button_brochure:hover {
    background-color: #0070ba;
    color: #fff;
  }

  .cursos_grid {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
  }

  .cursos .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    height: 450px;
  }
}
