@import "./singleHero.css";

.cursos h4 {
  font-size: 18px;
  font-weight: bold;
}

.cursos p {
  font-size: 10px;
}


.cursos svg {
  width: 14px;
  height: 14px;
}

.cursos .pagination svg {
  width: 20px;
  height: 20px;
}

.cursos .curso_description {
  color: #b2b2b2;
}

.cursos .button_brochure {
  border: 1px solid #0070ba;
  color: #0070ba;
  padding: 0.8rem 2rem;
  border-radius: 10px;
  margin-top: 10px;
  cursor: pointer;
  text-decoration: none;
  font-size: 12px;
  font-weight: 600;
}

.cursos .button_brochure:hover {
  background-color: #0070ba;
  color: #fff;
}

.cursos .content {
  margin-top: -20px;
  background: #fff;
  border-top-right-radius: 20px;
}

.cursos_grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(1, 1fr);
}

@media screen and (min-width: 768px) {
  .cursos_grid {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 992px) {
  .cursos h4 {
    font-size: 20px;
    font-weight: bold;
  }

  .cursos p {
    font-size: 14px;
  }

  .cursos svg {
    width: 25px;
    height: 25px;
  }

  .cursos .pagination svg {
    width: 32px;
    height: 32px;
  }

  .cursos .curso_description {
    color: #b2b2b2;
  }

  .cursos .button_brochure {
    border: 1px solid #0070ba;
    color: #0070ba;
    padding: 0.8rem 2rem;
    border-radius: 10px;
    margin-top: 10px;
    cursor: pointer;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
  }

  .cursos .button_brochure:hover {
    background-color: #0070ba;
    color: #fff;
  }

  .cursos .content {
    margin-top: -20px;
    background: #fff;
    border-top-right-radius: 20px;
  }

  .cursos_grid {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
  }
}
