.container-inscripcion {
  font-family: var(--font-helvetica);
  padding: 20px;
}

.inscripción-title {
  font-size: 23px;
  font-weight: 550;
}

.container-import {
  max-width: 800px;
  margin: 0 auto;
}

.container-import .p-principal {
  color: rgb(110, 110, 110);
  font-size: var(--font-size-mobile);
}

.nav-items {
  display: flex;
  flex-direction: column;
  gap: 20px;
  line-height: 1.5;
}

.step {
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 15px;
  border-radius: 32px;
}
.step-indicator {
  color: var(--red-primary) !important;
  font-weight: 700;
}

.step:nth-child(even) {
  flex-direction: row-reverse;
}

.right-align {
  margin-left: 2rem;
}

.left-align {
  margin-right: 2rem;
}

.video_about {
  height: 400px;
}

.step-content {
  flex: 1;
  text-align: left;
  width: 100%;
  border: 1px solid #e4e5d8;
  padding: 1rem;
  border-radius: 30px;
  position: relative;
}

.right-align::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -26px;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  border-left: 1px solid #e4e5d8;
  border-bottom: 1px solid #e4e5d8;
  background: #fff;
  rotate: 45deg;
}

.left-align::before {
  content: "";
  position: absolute;
  top: 50%;
  right: -6px;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  border-right: 1px solid #e4e5d8;
  border-top: 1px solid #e4e5d8;
  background: #fff;
  rotate: 45deg;
}

.step-image img {
  width: 100%;
  max-width: 300px;
  height: auto;
  object-fit: cover;
}

.step-content .step_indicator {
  color: #c3132c;
  font-weight: bold;
}

.step-content p {
  font-size: var(--font-size-mobile);
  color: #717171;
  margin: 0;
  font-weight: normal;
}

.step-title {
  font-size: 1.125rem;
  color: #717171;
  font-weight: bold;
  margin-bottom: 2px;
  width: 100%;
}

.step-content strong {
  font-weight: bold;
  font-size: 16px;
}

.step .step-image {
  width: 80px;
  height: 80px;
  background-color: #c3132c;
  border-radius: 50%;
  position: relative;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.step .step-image img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 50%;
  object-fit: contain;
}


@media screen and (min-width: 768px) {
  .container-import .p-principal {
    max-width: 900px;
    color: rgb(110, 110, 110);
    text-align: center;
    font-size: 1.5rem;
    margin: 0 auto;
  }


  .step {
    flex-direction: row;
    align-items: center;
  }

  .step-content {
    padding: 2rem;
  }

  .step-image img {
    width: 60%;
    height: 60%;
  }

  .step-title {
    font-size: 22px;
  }

  .step-content p {
    font-size: var(--font-size-desktop-paragrahp);
    margin: 0.5rem 0;
  }
}