@import "../shared/styles/variables.css";


.hero {
  height: 236px;
}
.hero .content p {
  font-size: var(--font-size-mobile);
  line-height: 14px;
}

.hero_bg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.hero .swiper {
  width: 100%;
  height: 100%;
}

.hero .swiper-slide {
  text-align: center;
  font-size: 1.125rem;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.hero .swiper-slide .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.28);
}

.hero .swiper-slide .container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: start;
  padding: 2rem;
  padding-right: 10rem;
  font-size: 16px;
  font-weight: medium;
}

.hero .swiper-pagination .swiper-pagination-bullet {
  background: #fff;
  opacity: 1;
  margin-top: 10px;
}

.hero
  .swiper-pagination
  .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: var(--color-primary);
  position: relative;
}

.hero
  .swiper-pagination
  .swiper-pagination-bullet.swiper-pagination-bullet-active::before {
  content: "";
  width: calc(100% + 6px);
  height: calc(100% + 6px);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid var(--color-primary);
  border-radius: 50%;
}

/* === Contenedor Quick Data === */
.quick_data {
  width: 100%;
  background: var(--color-primary);
  color: var(--color-white);
  padding: 1rem;
  border-bottom-left-radius: 0px;
  max-width: 100%;
}

.item img {
  width: 30px;
  height: 30px;
}

.fs-10 {
  font-size: 0.625rem;
}

.fs-8 {
  font-size: 0.5rem;
  line-height: 10px;
  font-weight: 400;
}

.texto-descriptivo-quick_data {
  overflow-wrap: break-word;
  margin-top: -6px;
}

.quick_data .container {
  width: 89.5%;
  height: 56px;
  background-color: var(--color-primary);
  color: var(--color-white);
  margin-left: 15px;
  border-radius: 0 0 0 20px;
  white-space: normal;
  overflow-x: auto;
  overflow-y: hidden;
  box-sizing: content-box;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.quick_data .container::-webkit-scrollbar {
  display: none;
}

.quick_data .container .item {
  width: 154px;
  margin-left: 5px;
  margin-right: 6px;
  gap: 10px;
}
.quick_data h3 {
  font-size: var(--font-size-mobile);
}

.quick_data p {
  margin-top: 0.1rem;
  font-size: var(--font-size-mobile-sm);
  margin: 0 auto;
}
.quick_data .container .item .description {
  width: 101px;
}

.quick_data .items {
  display: flex;
  flex-direction: column;
  gap: 0;
}

.description h3 {
  margin-top: 15px;
}
/* === Contenedor ¿Qué es? === */
.fs-12 {
  font-size: 0.75rem;
}

.texto-que-es {
  font-size: var(--font-size-mobile);
  font-weight: normal;
  line-height: 20px;
  padding-right: 21px;
  text-align: left;
  color: #676767;
}

/* === Nuestro requisitos === */
.icon-img {
  width: 48px;
  height: 45px;
}

.list-group-item {
  border: none;
  border-radius: 10px !important;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 5px 15px;
  background: #fff;
}

.list-group-item:hover {
  background-color: #fff;
}

.bi-chevron-down {
  font-size: 20px;
  color: #6c757d;
}

.text-requisitos {
  font-weight: normal;
  font-size: var(--font-size-mobile);
  line-height: 14.06px;
  color: var(--color-text);
  text-align: left;
}

.list-group {
  width: 85%;
}

.dropdown-menu {
  width: 100%;
  box-shadow: rgb(173, 173, 173) -1px 11px 20px 2px;
}

.dropdown-texto p {
  padding: 10px;
  text-align: justify;
}

.dropdown-menu {
  font-size: 12px;
  height: -webkit-fill-available;
}

/* === Perfil Empresarial === */

.perfil .max-text {
  max-width: 160px;
  font-size: var(--font-size-mobile);
  font-weight: 500;
  color: var(--color-text);
  margin: 1.5rem 0;
}

/* === Etapas de inscripcion === */
.container-inscripcion {
  font-family: var(--font-helvetica);
  padding: 20px;
}

.inscripción-title {
  font-size: 23px;
  font-weight: 550;
}

.container-import .p-principal {
  color: rgb(110, 110, 110);
  font-size: var(--font-size-mobile);
}

.nav-items {
  display: flex;
  flex-direction: column;
  gap: 20px;
  line-height: 1.5;
}

.step {
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 15px;
  border-radius: 32px;
}
.step-indicator {
  color: var(--red-primary) !important;
  font-weight: 700;
}

.step:nth-child(even) {
  flex-direction: row-reverse;
}

.right-align {
  margin-left: 2rem;
}

.left-align {
  margin-right: 2rem;
}

.video_about {
  height: 400px;
}

.step-content {
  flex: 1;
  text-align: left;
  width: 100%;
  border: 1px solid #e4e5d8;
  padding: 1rem;
  border-radius: 30px;
  position: relative;
}

.right-align::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -26px;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  border-left: 1px solid #e4e5d8;
  border-bottom: 1px solid #e4e5d8;
  background: #fff;
  rotate: 45deg;
}

.left-align::before {
  content: "";
  position: absolute;
  top: 50%;
  right: -6px;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  border-right: 1px solid #e4e5d8;
  border-top: 1px solid #e4e5d8;
  background: #fff;
  rotate: 45deg;
}

.exito_video {
  height: 380px;
  margin: auto;
}

.step-image img {
  width: 100%;
  max-width: 300px;
  height: auto;
  object-fit: cover;
}

.step-content .step_indicator {
  color: #c3132c;
  font-weight: bold;
}

.step-content p {
  font-size: var(--font-size-mobile);
  color: #717171;
  margin: 0;
  font-weight: normal;
}

.step-title {
  font-size: 1.125rem;
  color: #717171;
  font-weight: bold;
  margin-bottom: 2px;
  width: 100%;
}

.step-content strong {
  font-weight: bold;
  font-size: 16px;
}

.step .step-image {
  width: 80px;
  height: 80px;
  background-color: #c3132c;
  border-radius: 50%;
  position: relative;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.step .step-image img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 50%;
  object-fit: contain;
}

.cursos_swiper h4 {
  font-size: 1.125rem;
  font-weight: bold;
}

.cursos_swiper p {
  font-size: 0.625rem;
}

.cursos_swiper svg {
  width: 14px;
  height: 14px;
}

.cursos_swiper .pagination svg {
  width: 20px;
  height: 20px;
}

.cursos_swiper .curso_description {
  color: #b2b2b2;
}

.cursos_swiper .button_brochure {
  border: 1px solid #0070ba;
  color: #0070ba;
  padding: 0.8rem 2rem;
  border-radius: 10px;
  margin-top: 10px;
  cursor: pointer;
  text-decoration: none;
  font-size: 12px;
  font-weight: 600;
}

.cursos_swiper .button_brochure:hover {
  background-color: #0070ba;
  color: #fff;
}

.cursos_swiper .content {
  margin-top: -20px;
  background: #fff;
  border-top-right-radius: 20px;
}

.btn-test {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-test {
  padding: 12px 25px;
  background-color: #c3132c;
  margin-top: 40px;
  text-align: center;
  border-radius: 13px;
  cursor: pointer;
}

.button-test a {
  color: var(--color-white);
  text-decoration: none;
  font-size: var(--font-size-mobile);
}

.button-test img {
  width: 18px;
}

.beneficios {
  height: fit-content;
}

.beneficio_item {
  border-bottom: 1px solid #848484;
  margin-bottom: 1rem;
}

.beneficio_item h3 {
  font-weight: bold;
  font-size: 18px;
}

.beneficio_item p {
  font-size: 14px;
  color: #848484;
}

.testomnios_swiper .swiper-wrapper {
  padding: 2rem 0;
  padding-bottom: 4rem;
  gap: 2rem;
}
.testomnios_swiper .swiper-wrapper .swiper-slide {
  margin: 0 !important;
}
.testomnios_swiper .swiper-wrapper .swiper-slide.swiper-slide-active {
  scale: 1.1;
}
.testimonials_container .swiper-button-prev {
  display: none;
}
.testimonials_container .swiper-button-next {
  display: none;
}

.testomnio_item {
  border-radius: 20px;
  padding: 1.5rem 1rem;
  position: relative;
  margin-bottom: 40px;
  padding-bottom: 40px;
}

.testomnio_item .quote {
  color: #c41321;
  margin: auto;
}

.testomnio_item .description {
  font-size: 0.75rem;
  color: #676767;
  text-align: center;
}

.testomnio_item .avatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
  margin: auto;
  background: #e1e8f8;
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translate(-50%, -50%);
}
.testomnio_item .container-linkedin {
  bottom: -85px;
}
.testomnio_item .container-linkedin span {
  font-size: 12px;
  font-weight: 600;
}

.testomnio_item .avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center 10px;
}

.graduated_companies {
  display: flex;
  overflow-x: auto;
  gap: 1rem;
  padding: 2rem 0;
}

.graduated_companies .graduated_companies_item {
  min-width: 200px;
}

.graduated_companies .graduated_companies_item img {
  max-height: 84px;
  object-fit: scale-down;
  width: 100%;
}

.graduated_companies .graduated_companies_item h4 {
  font-size: 14px;
  color: var(--color-primary);
  font-weight: bold;
  position: relative;
}

.graduated_companies .graduated_companies_item a {
  font-size: 12px;
  color: #403c3d;
  text-decoration: none;
  font-weight: bold;
}

.graduated_companies .graduated_companies_item span {
  font-size: 12px;
  color: #403c3d;
}

.contacto .description {
  color: #fff;
  background: #c3132c;
  padding: 3rem 2rem;
}

.contacto .description h3 {
  position: relative;
  margin-bottom: 2rem;
}

.contacto .description h3::before {
  content: "";
  position: absolute;
  left: 0;
  top: 2rem;
  width: 30px;
  height: 4.6px;
  border-radius: 10px;
  background-color: var(--color-white);
}

.contacto .data {
  padding: 3rem 2rem;
  background: #fff;
}

.contacto .data strong {
  color: var(--color-primary);
}

.contacto .data p {
  font-size: 12px;
}

.contacto .data p span {
  color: #403c3d;
}

@media screen and (min-width: 768px) {
  .step {
    flex-direction: row;
    align-items: center;
  }

  .step-content {
    padding: 2rem;
  }

  .step-image img {
    width: 60%;
    height: 60%;
  }

  .step-title {
    font-size: 22px;
  }

  .p-p {
    font-size: 16px;
  }

  .Button-Test {
    font-size: 18px;
    padding: 8px 15px;
  }

  .Button-Test img {
    width: 15px;
    height: 15px;
  }

  .hero .content p {
    font-size: var(--font-size-tablet);
    line-height: 18px;
  }

  .graduated_companies {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
  }

  .graduated_companies .graduated_companies_item {
    min-width: 200px;
  }

  .graduated_companies .graduated_companies_item img {
    max-height: 84px;
    object-fit: scale-down;
    width: 100%;
  }

  .graduated_companies .graduated_companies_item h4 {
    font-size: 20px;
    color: var(--color-primary);
    font-weight: bold;
  }

  .graduated_companies .graduated_companies_item a {
    font-size: 14px;
    color: #403c3d;
    text-decoration: none;
  }

  .graduated_companies .graduated_companies_item span {
    font-size: 14px;
    color: #403c3d;
  }

  .contacto .description {
    color: #fff;
    padding: 4rem 3rem;
  }

  .contacto .data {
    padding: 4rem 3rem;
    background: #fff;
  }

  .contacto .data strong {
    color: var(--color-primary);
  }

  .contacto .data p {
    font-size: 14px;
  }
}
@media screen and (min-width: 992px) {
  .hero {
    margin-top: -41px;
    height: 380px;
  }

  .hero .content {
    max-width: 600px;
  }

  .hero .content p {
    font-size: var(--font-size-desktop);
    line-height: 28px;
  }

  .quick_data h4 {
    color: var(--color-white);
    font-size: 2rem;
    line-height: 0;
    margin: 0;
  }

  .quick_data {
    height: 120px;
    padding-left: 5rem;
    width: fit-content;
    background: var(--color-primary);
    padding: 1rem 2rem;
    border-bottom-left-radius: 20px;
    max-width: 80%;
  }
  .quick_data .description {
    min-width: 120px;
  }

  .quick_data img {
    width: 70px;
    height: 70px;
  }

  .quick_data h3 {
    font-size: 1.2rem;
    line-height: 20px;
    margin-bottom: 0.8rem;
  }

  .quick_data p {
    font-size: var(--font-size-desktop-paragrahp);
    line-height: 1.2rem;
  }

  .quick_data .items {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 0.1rem;
  }

  .quick_data .items h3 {
    margin-bottom: 0.2rem;
  }

  .quick_data h4 {
    font-size: var(--font-size-desktop-title);
    color: var(--color-white);
  }

  .title-que-es {
    font-size: 2.5rem;
  }

  .texto-que-es {
    font-size: var(--font-size-desktop-paragrahp);
    line-height: 30px;
  }

  .text-requisitos {
    font-size: var(--font-size-desktop-paragrahp);
    line-height: 30px;
  }

  .icon-img {
    width: 60px;
    height: 60px;
  }

  .perfil .max-image {
    max-width: 210px;
  }

  .container-import .p-principal {
    max-width: 900px;
    color: rgb(110, 110, 110);
    text-align: center;
    font-size: 1.5rem;
    margin: 0 auto;
  }

  .step {
    flex-direction: row;
    align-items: center;
  }

  .step-image {
    width: 140px;
    height: 140px;
    padding: 2rem;
  }

  .step-title {
    font-size: 1.875rem;
  }

  .step-content p {
    font-size: var(--font-size-desktop-paragrahp);
    margin: 0.5rem 0;
  }

  .step-indicator {
    color: var(--red-primary);
    font-weight: 700 !important;
  }

  .beneficio_item span {
    font-weight: bold;
    font-size: var(--font-size-desktop-md) !important;
  }

  .beneficio_item p {
    font-size: var(--font-size-desktop-paragrahp) !important;
  }

  .Button-Test a {
    font-size: 1.25rem;
    padding: 12px 22px;
  }

  .Button-Test img {
    width: 20px;
    height: 20px;
  }

  .cursos_swiper h4 {
    font-size: 1.25rem;
    font-weight: bold;
  }

  .cursos_swiper p {
    font-size: 0.875rem;
  }

  .cursos_swiper svg {
    width: 25px;
    height: 25px;
  }

  .cursos_swiper .pagination svg {
    width: 32px;
    height: 32px;
  }

  .cursos_swiper .curso_description {
    color: #b2b2b2;
  }

  .texto-descriptivo-quick_data {
    font-size: var(--font-size-desktop-paragrahp);
  }

  .cursos_swiper .button_brochure {
    border: 1px solid #0070ba;
    color: #0070ba;
    padding: 0.8rem 2rem;
    border-radius: 10px;
    margin-top: 10px;
    cursor: pointer;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
  }

  .cursos_swiper .button_brochure:hover {
    background-color: #0070ba;
    color: #fff;
  }

  .cursos_swiper .content {
    margin-top: -20px;
    background: #fff;
    border-top-right-radius: 20px;
  }

  .perfil .max-text {
    max-width: 200px;
    font-size: var(--font-size-desktop-paragrahp);
  }
  .exito_video {
    height: 380px;
    margin: auto;
  }

  .container-inscripcion .step-title {
    font-size: var(--font-size-desktop-md);
  }

  .video_list {
    background: #c3132c;
    padding: 2rem 4rem;
    padding-left: 0;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 24px;
  }

  .viedo_list h3 {
    color: var(--color-white);
  }

  .video_list .video_item {
    padding: 1rem;
    padding-left: 4rem;
    margin: 0;
  }

  .video_list .video_item h4 {
    color: var(--color-white);
    position: relative;
    margin-bottom: 2rem;
  }

  .video_list .video_item h4::before {
    content: "";
    position: absolute;
    left: 0;
    top: 2rem;
    width: 30px;
    height: 4.6px;
    border-radius: 10px;
    background-color: var(--color-white);
  }

  .video_list .video_item p {
    color: var(--color-white);
  }

  .video_list .video_item.active {
    background: #e0e0e0;
  }

  .video_list .video_item.active h4 {
    color: #717171;
  }

  .video_list .video_item.active h4::before {
    background-color: #c3132c;
  }

  .video_list .video_item.active p {
    color: var(--color-primary);
  }

  .beneficios {
    height: 500px;
  }

  .beneficio_item {
    border-bottom: 1px solid #848484;
    margin-bottom: 1rem;
  }

  .beneficio_item h3 {
    font-weight: bold;
    font-size: 24px;
  }

  .beneficio_item p {
    font-size: 16px;
    color: #848484;
  }
  .testimonials_container .swiper-button-prev {
    left: -2rem;
  }
  .testimonials_container .swiper-button-next {
    right: -2rem;
  }
  .testimonials_container .swiper-button-prev::after,
  .testimonials_container .swiper-button-next::after {
    font-size: 18px;
    font-weight: 600;
  }
}
