@import "./singleHero.css";
@import "../shared/styles/variables.css";

.requisitos_item img {
  border-radius: 20px 20px 0 0;
}

.requisitos_item .requisitos_description {
  margin-top: -50px;
  border-top-right-radius: 40px;
}

@media screen and (min-width: 768px) {
  .requisitos_item img {
    border-radius: 40px;
  }

  .requisitos_item .requisitos_description {
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    max-height: 260px;
    height: 100%;
    min-height: 260px;
    margin: auto;
  }

  .requisitos_item .description_left {
    border-radius: 0;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
  }
}

@media screen and (min-width: 992px) {
  .requisitos_item .requisitos_description p {
    color: var(--color-text);
    max-width: 600px;
    padding-left: 1rem;
    margin-top: 1rem;
    font-size: 1.1rem;
  }
}
