<link href="~/css/caso.css" rel="stylesheet" />
<script src="~/js/caso.js"></script>
<div class="content overflow-x-scroll">
    <div class="container">
        <div class="row">
            <div class="breadcrumb px-3 col-12 d-flex align-items-center ">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" class="mx-1" fill="currentColor"
                    class="bi bi-house-door-fill" viewBox="0 0 16 16">
                    <path
                        d="M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5" />
                </svg>
                <a href="#!">
                    <span class="first-bread"> Mi Home</span>
                </a>
                <div class="px-2">
                    >
                </div>
                <div>
                    <a href="#!">
                        <span class="second-bread">Casos de éxitos</span>
                    </a>
                </div>
            </div>
            <div class="col-12 mb-4 d-flex align-items-center justify-content-between ">
                <div class="d-flex align-items-center gap-3">
                    <h2 class="title d-none d-md-block">Edición de casos de éxitos </h2>
                    <h2 class="title d-block d-md-none"> Éxitos</h2>

                </div>
                <div>

                    <button class="button-create d-flex align-items-center gap-2 fs-6" data-bs-toggle="modal"
                        data-bs-target="#createSliderModal">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-plus-square" viewBox="0 0 16 16">
                            <path
                                d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2z" />
                            <path
                                d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4" />
                        </svg>
                        Nuevo caso de éxito
                    </button>
                </div>
            </div>
            <div id="tituloContainer">

                <div class="row ">
                    <div class="col-md-6 my-3 ">
                        <div class="d-flex justify-content-between">
                            <label for="image-url-1" class="form-label fw-semibold">Título general</label>
                            <a href="#!" class="icon-link" data-bs-toggle="modal" data-bs-target="#editTitle">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-pencil-fill" viewBox="0 0 16 16">
                                    <path
                                        d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.5.5 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11z" />
                                </svg>
                            </a>
                        </div>
                        <input type="text" id="image-url-1" class="form-control" placeholder="Título general" disabled>

                    </div>
                    <div class="col-md-6 my-3 ">
                        <div class="d-flex justify-content-between">
                            <label for="image-url-1" class="form-label fw-semibold">Nombre del botón</label>
                            <a href="#!" class="icon-link" data-bs-toggle="modal" data-bs-target="#editNameButton">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-pencil-fill" viewBox="0 0 16 16">
                                    <path
                                        d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.5.5 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11z" />
                                </svg>
                            </a>
                        </div>
                        <input type="text" id="image-url-1" class="form-control custom-button"
                            placeholder="Nombre del botón" disabled>

                    </div>
                </div>

                <div class="row ">
                    <div class="col-md-6 my-3 ">
                        <div class="d-flex justify-content-between">
                            <label for="image-url-1" class="form-label fw-semibold">URL del video</label>
                            <a href="#!" class="icon-link" data-bs-toggle="modal" data-bs-target="#editUrlVideo">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-pencil-fill" viewBox="0 0 16 16">
                                    <path
                                        d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.5.5 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11z" />
                                </svg>
                            </a>
                        </div>

                        <input type="text" id="image-url-1" class="form-control" placeholder="URL del video" disabled>


                    </div>
                    <div class="col-md-6 my-3 ">
                        <div class="d-flex justify-content-between">
                            <label for="image-url-1" class="form-label fw-semibold">URL del botón</label>
                            <a href="#!" class="icon-link" data-bs-toggle="modal" data-bs-target="#editUrlButton">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-pencil-fill" viewBox="0 0 16 16">
                                    <path
                                        d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.5.5 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11z" />
                                </svg>
                            </a>
                        </div>
                        <input type="text" id="image-url-1" class="form-control" placeholder="URL del botón" disabled>

                    </div>
                </div>

                <div class="row ">
                    <div class="col-md-6 my-3 ">
                        <div class="d-flex justify-content-between">
                            <label for="image-url-1" class="form-label fw-semibold">Título de video</label>
                            <a href="#!" class="icon-link" data-bs-toggle="modal" data-bs-target="#editTitleVideo">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-pencil-fill" viewBox="0 0 16 16">
                                    <path
                                        d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.5.5 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11z" />
                                </svg>
                            </a>
                        </div>

                        <input type="text" id="image-url-1" class="form-control" placeholder="Título de video" disabled>


                    </div>

                </div>
            </div>
        </div>
        <div id="container">
            <div class="row cards-container px-2 px-md-0 " id="sliderContainer">
            </div>
        </div>


        <div class="row mt-4">
            <div class="col-12 text-end">
                <button class="btn btn-save" id="saveOrder">Guardar Cambios</button>
            </div>
        </div>
    </div>
</div>
<!-- copiar esto -->
<!-- Modal para Crear  -->
<div class="modal fade" id="createSliderModal" tabindex="-1" aria-labelledby="createSliderModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createSliderModalLabel">Crear caso de éxito</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="createSliderForm">
                    <div class="mb-3">
                        <label for="createNombre" class="form-label fw-semibold">Nombre</label>
                        <input type="text" id="createNombre" class="form-control" placeholder="Paso">
                    </div>
                    <div class="mb-3">
                        <label for="createDescription" class="form-label fw-semibold">Descripción</label>
                        <textarea id="createDescription" class="form-control" rows="3"
                            placeholder="Descripción"></textarea>
                    </div>

                    <div class="mb-3">
                        <label for="createUrlIcon" class="form-label fw-semibold">URL del ícono</label>
                        <input type="text" id="createUrlIcon" class="form-control" placeholder="URL del ícono">
                    </div>

                    <div class="mb-3">
                        <label for="createUrlPerfil" class="form-label fw-semibold">URL del Perfil</label>
                        <input type="text" id="createUrlPerfil" class="form-control" placeholder="URL del Perfil">
                    </div>

                    <div>
                        <label for="createUrlCabecera" class="form-label fw-semibold">URL cabecera</label>
                        <input type="text" id="createUrlCabecera" class="form-control" placeholder="URL cabecera">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-close-modal
            btn-close-modal" data-bs-dismiss="modal">
                    Cerrar
                </button>
                <button type="button" class="btn btn-save" id="saveCreateSlider">Crear</button>
            </div>
        </div>
    </div>
</div>




<!-- Modal para Editar Slider -->
<div class="modal fade" id="editSliderModal" tabindex="-1" aria-labelledby="editSliderModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editSliderModalLabel">Editar caso de éxito</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="createSliderForm">
                    <div class="mb-3" hidden>
                        <label for="editId" class="form-label fw-semibold">Id</label>
                        <input type="text" id="editId" class="form-control" placeholder="Paso">
                    </div>
                    <div class="mb-3" hidden>
                        <label for="editOrder" class="form-label fw-semibold">Orden</label>
                        <input type="text" id="editOrder" class="form-control" placeholder="Paso">
                    </div>
                    <div class="mb-3">
                        <label for="editNombre" class="form-label fw-semibold">Nombre</label>
                        <input type="text" id="editNombre" class="form-control" placeholder="Paso">
                    </div>
                    <div class="mb-3">
                        <label for="editDescription" class="form-label fw-semibold">Descripción</label>
                        <textarea id="editDescription" class="form-control" rows="3"
                            placeholder="Descripción"></textarea>
                    </div>

                    <div class="mb-3">
                        <label for="editUrlIcon" class="form-label fw-semibold">URL del ícono</label>
                        <input type="text" id="editUrlIcon" class="form-control" placeholder="URL del ícono">
                    </div>

                    <div class="mb-3">
                        <label for="editUrlPerfil" class="form-label fw-semibold">URL del Perfil</label>
                        <input type="text" id="editUrlPerfil" class="form-control" placeholder="URL del Perfil">
                    </div>

                    <div>
                        <label for="editUrlCabecera" class="form-label fw-semibold">URL cabecera</label>
                        <input type="text" id="editUrlCabecera" class="form-control" placeholder="URL cabecera">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-close-modal
            btn-close-modal" data-bs-dismiss="modal">
                    Cerrar
                </button>
                <button type="button" class="btn btn-save" id="saveEditSlider">Guardar Cambios</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal de Confirmación para Eliminar -->
<div class="modal fade" id="deleteConfirmationModal" tabindex="-1" aria-labelledby="deleteConfirmationModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title " id="deleteConfirmationModalLabel">Confirmar Eliminación</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>¿Estás seguro de que deseas eliminar este éxito? Esta acción no se puede deshacer.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-close-modal" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" id="confirmDeleteButton" class="btn btn-save">Eliminar</button>
            </div>
        </div>
    </div>
</div>


<!-- Modal para editar titulo  -->


<div class="modal fade" id="editTitle" tabindex="-1" aria-labelledby="editTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editSliderModalLabel">Editar Titulo general</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="editSliderForm">
                    <div class="mb-3" hidden>
                        <label for="editIdTitulo" class="form-label fw-semibold">Id</label>
                        <input type="text" id="editIdTitulo" class="form-control" placeholder="Paso">
                    </div>
                    <div class="mb-3">
                        <label for="editTitulo" class="form-label fw-semibold">Titulo general</label>
                        <input type="text" id="editTitulo" class="form-control" placeholder="Titulo general" required>
                    </div>
                    <div class="mb-3">
                        <label for="editNombreBoton" class="form-label fw-semibold">
                            Nombre del botón
                        </label>
                        <input type="text" id="editNombreBoton" class="form-control" placeholder="Nombre del botón
                    " required>
                    </div>
                    
                    <div class="mb-3">
                        <label for="editUrlBoton" class="form-label fw-semibold">
                            URL de botón
                        </label>
                        <input type="text" id="editUrlBoton" class="form-control" placeholder="URL  de botón " required>
                    </div>

                     <div class="mb-3">
                        <label for="editUrlIcono" class="form-label fw-semibold">
                            URL del icono
                        </label>
                        <input type="text" id="editUrlIcono" class="form-control" placeholder="URL del icono " required>
                    </div>

                    <div class="mb-3">
                        <label for="editTituloVideo" class="form-label fw-semibold">
                            titulo del video
                        </label>
                        <input type="text" id="editTituloVideo" class="form-control" placeholder="titulo del video"
                            required>
                    </div>
                    <div class="mb-3">
                        <label for="editDescripcionSeccion" class="form-label fw-semibold">
                            Descripción Seccion
                        </label>
                        <input type="text" id="editDescripcionSeccion" class="form-control" placeholder="titulo del video"
                            required>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-close-modal
                btn-close-modal" data-bs-dismiss="modal">
                    Cerrar
                </button>
                <button type="button" class="btn btn-save" id="saveEditTitulo">Guardar Cambios</button>
            </div>
        </div>
    </div>
</div>



<script src="../../shared/libraries/sortable/Sortable.min.js"></script>
<script src="../../shared/js/moveCard.js"></script>