<script type="module" src="~/js/modules/inscripcion/index.js" defer></script>
<link href="~/css/inscripcion.css" rel="stylesheet" />


<div class="hero">
    <div class="container" id="bannerInscription">
    </div>
</div>
<div class="bg-white">
    <div class="container container-inscripcion">

        <div class="container-import mt-5 ">
            <p class="p-principal mb-5" id="descrInscription">

            </p>
            <div class="nav-items" id="sliderInscription">

            </div>
            <div class="btn-test">
                <div class="button-test" id="botonInsciption">

                </div>
            </div>
        </div>
    </div>
</div>