<link href="~/css/caso.css" rel="stylesheet" />
<script src="~/js/caso.js"></script>

<script type="module" src="~/js/modules/seccion/index.js" defer></script>
<main>

    <div class="hero">
        <div class="container" id="bannerCaso">
            <div class="title">Casos de éxito</div>
            <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magn</p>
        </div>
    </div>


    <div class="container py-5 px-4 px-md-0">
        <div class="row mb-5">
            <div class="col-12" id="tituloSeccionCaso">
                <h2>Testimonios de casos de éxito</h2>
                <div class="red-linear"></div>
            </div>
            <div id="sliderCaso">


            </div>


        </div>

    </div>
    <div id="callToAction">

    </div>

</main>
