@{
  Layout = "~/Views/Shared/_LayoutTest.cshtml";
}
<link href="~/css/test.css" rel="stylesheet" />
<script type="module" src="~/js/modules/test/index.js"></script>



<div id="test-content">
  <div id="app" class="container"></div>
</div>


 @* <section>
    <div class="container">
      <div class="col-11 mx-auto">
        <div class="d-flex justify-content-start">
          <span class="progress-indicator">1 <i>de</i> 55</span>
        </div>
        <h2 class="question-title mt-4 mb-4">Detalles de la empresa</h2>
        <p class="text-muted">¿Qué tipo de turismo atiende?</p>
        <div class="mt-5">
          <div class="question-box mb-3">
            <span class="option-label">A</span> Turismo Receptivo
          </div>
          <div class="question-box mb-3">
            <span class="option-label">B</span> Turismo Interno
          </div>
          <div class="question-box mb-3">
            <span class="option-label">C</span> Turismo Emisor
          </div>
        </div>
        <div class="d-flex justify-content-end">
        <div class="row buttons_group">
          <a href="/" class="col-6 text-decoration-none">
            <div class="button-outline d-flex align-items-center h-100">
              <span>Anterior</span>
            </div>
          </a>
          <a href="/" class="col-6 text-decoration-none">
            <div class="button-test d-flex align-items-center">
              <span>Siguiente</span>
            </div>
          </a>
        </div>
        </div>

      </div>
    </div>
  </section> *@