@{
  Layout = "~/Views/Shared/_LayoutTest.cshtml";
}
<link href="~/css/test.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<script type="module" src="~/js/modules/test/index.js"></script>

<div id="test-content">
  <div id="app" class="container"></div>
</div>

<script src="~/js/modules/test/chart.js"></script>
