:root {
  --color-background: #F8F8F8;
  --color-primary: #0070BA;
  --color-blue-ligth: #2b6cb0;
  --color-text: #676767;
  --color-black: #000;
  --color-gray: #403C3D;
  --color-gray-2: #494949;
  --color-gray-3: #4A4A4A;
  --color-text-bold: #403C3C;
  --color-placeholder: #ADB5BD;
  --color-white: #fff;
  --color-shadow: rgba(0, 0, 0, 0.1);
  --header-height: 50px;
  --red-primary: #FF3737;
  --red-secondary: #c3122c;
  --gray-primary: rgba(147, 141, 145, 0.11);
  --gray-bold: #433E39;
  --font-helvetica: 'Helvetica Neue LT Std';
  --font-size-mobile: 1rem;
  --font-size-mobile-md: 1.5rem;
  --font-size-mobile-sm: .8rem;
  --font-size-mobile-title: 2rem;
  --font-size-tablet: 1.5rem;
  --font-size-desktop-paragrahp: 1.2rem;
  --font-size-desktop-subtitle: 1.3rem;
  --font-size-desktop-md: 1.5rem;
  --font-size-desktop: 2rem;
  --font-size-desktop-title: 2.5rem;
  --mt-20: 2rem;
  --p-20: 1.25rem;
}
