<script type="module" src="~/js/modules/inscripcion/index.js" defer></script>
<script type="module" src="~/js/modules/contacto/index.js"></script>
<div class="hero">
    <div class="swiper mySwiper">
        <div class="swiper-wrapper" id="sliderBannerHome">
        </div>
        <div class="swiper-pagination"></div>
    </div>
</div>
<!-- Container Scroll -->
<div class="d-flex justify-content-end mb-5">
    <div class="quick_data d-flex align-items-center gap-3 overflow-y-hidden overflow-x-auto" id="logrosHome">
    </div>
</div>
<!-- Container ¿Qué es? -->
<div class="container pt-md-5" id="seccionHome">

</div>
<div class="bg-white">
    <!-- Container Nuestro requisitos -->
    <div class="container mt-5 mb-5 py-5">
        <div id="tituloRequisitoHome">

        </div>

        <div class="mx-auto row mt-5" id="sliderRequisitoHome">

        </div>
        <div class="btn-test">
            <div class="button-test" id="botonRequisitoHome">

            </div>
        </div>
    </div>
</div>

<div class="perfil">
    <div class="container container-inscripcion mt-5 mb-5">
        <div id="tituloPEmpHome">
        </div>

        <div class="red-linear"></div>
        <div class="row mt-5" id="sliderPEmpHome">
        </div>
    </div>
</div>

<!-- Container inscripcion -->
<div class="bg-white">

    <div class="container container-inscripcion mt-5">
        <div id="tituloInscription">
        </div>
        <div class="red-linear"></div>
        <div class="container-import mt-5 ">
            <p class="p-principal mb-5" id="descrInscription">

            </p>
            <div class="nav-items" id="sliderInscription">

            </div>
            <div class="btn-test">
                <div class="button-test" id="botonInsciption">

                </div>
            </div>
        </div>
    </div>
</div>
<!-- Container Nuestro cursos -->
<div class="container py-5">
    <div class="row">
        <div class="col-12" id="tituloCursoHome">
            <h2>Nuestro cursos</h2>
            <div class="red-linear"></div>
        </div>
    </div>
    <div class="swiper cursos_swiper mt-5">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper" id="sliderCursoHome">

        </div>

        <!-- If we need navigation buttons -->
        <div class="pagination d-flex justify-content-between">
            <div class="swiper-prev">
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor"
                    class="bi bi-arrow-left" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                        d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8" />
                </svg>
            </div>
            <div class="swiper-next">
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor"
                    class="bi bi-arrow-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                        d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8" />
                </svg>
            </div>
        </div>
    </div>

    <div class="btn-test">
        <div class="button-test" id="botonCursoHome">

        </div>
    </div>
</div>
<div class="bg-white">
    <div class="container py-5">
        <div class="row mb-5">
            <div class="col-12" id="tituloBeneficioHome">
                <h2>Beneficios</h2>
                <div class="red-linear"></div>
            </div>
        </div>
        <div class="row beneficios">
            <div class="col-lg-6 d-none d-lg-block h-100 text-end" id="portadaBeneficioHome">

            </div>
            <div class="col-lg-6 col-12 overflow-y-auto scrollable h-100" id="sliderBeneficioHome">

            </div>
        </div>

        <div class="btn-test">
            <div class="button-test" id="botonBeneficios">

            </div>
        </div>
    </div>
</div>

<div>
    <div class="container py-5">
        <div class="row mb-5">
            <div class="col-12" id="tituloCasoHome">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-12 exito_video" id="portadaCasoHome">
            </div>
            <div class="col-lg-6 col-12 d-none d-lg-block">
                <div class="video_list" id="sliderCasoHome">
                </div>
            </div>
        </div>

        <div class="btn-test justify-content-center">
            <div class="button-test ms-lg-auto ms-0" id="botonCasoHome">
                <a href="">Mira más videos</a>
                <img src="../../shared/assets/home/etapas/empezar_test.svg" alt="" />
            </div>
        </div>
    </div>
</div>
<div>
    <div class="container py-5">
        <div class="row mb-5" id="tituloTestHome">
        </div>
        <div class="testimonials_container position-relative">
            <div class="swiper testomnios_swiper">
                <div class="swiper-wrapper" id="slideTestHome">
                </div>
                <!-- If we need navigation buttons -->
            </div>
            <div class="pagination d-flex justify-content-between">
                <div class="swiper-testimonio-prev">
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor"
                        class="bi bi-arrow-left" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8" />
                    </svg>
                </div>
                <div class="swiper-testimonio-next">
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor"
                        class="bi bi-arrow-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8" />
                    </svg>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="bg-white">
    <div class="container py-5">
        <div class="row mb-5">
            <div class="col-12" id="tituloEGHome">
                <h2>Empresas Graduadas</h2>
                <div class="red-linear"></div>
            </div>
        </div>
        <div class="graduated_companies" id="sliderEGHome">

        </div>
        <div class="btn-test">
            <div class="button-test" id="botonEGHome">
                <a href="">Ver todas las empresas</a>
                <img src="../../shared/assets/home/etapas/empezar_test.svg" alt="" />
            </div>
        </div>
    </div>
</div>

<div>
    <div class="container py-5" id="contactoHome">
        <div class="row">
            <div class="col-12" id="tituloContactoHome">
            </div>
        </div>
        <div class="row contacto">
            <div class="col-12 col-lg-6 description mt-auto" id="descripcionContacto">
            </div>
            <div class="col-12 col-md-5 data" id="dataContacto">
            </div>
        </div>
    </div>
</div>
<script>
    // Escuchar clic en cualquier elemento con la clase "video_item"
    $('.video_item').on('click', function () {
        // Remover la clase "active" de todos los elementos
        $('.video_item').removeClass('active');

        // Agregar la clase "active" al elemento seleccionado
        $(this).addClass('active');

        // Obtener la URL del video (puedes almacenar la URL en un atributo personalizado como "data-video")
        const videoURL = $(this).data('video');

        // Actualizar el iframe con la nueva URL
        $('.exito_video iframe').attr('src', videoURL);
    });
</script>